- set_meta_tags  title: '軽貨物ドライバーになるために'
- set_meta_tags  description: '軽貨物ドライバーになるために'
= render 'shared/step_indicator'
.tops-wrapper
 h2.headline
    | お仕事をスタートするまで

ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | 日本語チェックとフロー説明
      dd.center
        | 担当者と簡単な日本語チェックとフローの説明を２〜３分行っていただきます。
        br
        | LINEより『日本語チェック希望』の旨をご連絡ください。
  li
    dl
      dt
        span.icon
          | STEP.02
        | 配属先での面接
      dd.center
        | 配属先での面接を行います。
        br
        | 尚、配属先によって、オンライン面接・直接面接と方法は様々なため、担当者よりご案内します。
  li
    dl
      dt
        span.icon
          | STEP.03
        | 車両の確保
      dd.center
        | 車がない場合、車を購入するか、リース会社からレンタルを行います。
        br/
        | 日本語が苦手な場合でも、担当者がフォローします。
  li
    dl
      dt
        span.icon
          | STEP.04
        | 勤務開始
      dd.center
        | 車両確保を完了したら勤務開始です。

= link_to 'LINEに戻る', "https://lin.ee/yVI3ClY", class: 'btn btn-success btn-block', id: 'next-button'

