- set_meta_tags  title: '軽貨物ドライバーになるために'
- set_meta_tags  description: '軽貨物ドライバーになるために'
= render 'shared/step_indicator'
.tops-wrapper
 h2.headline
    | お仕事をスタートするまで
    br/
    | Until you start working

ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | 日本語チェックとフロー説明
        br/
        | Japanese check and flow explanation
      dd.center
        | 担当者と簡単な日本語チェックとフローの説明を２〜３分行っていただきます。
        br
        | You will have a simple Japanese check and a brief explanation of the process with our staff (about 2–3 minutes).
        br
        | LINEより『面接希望』の旨をご連絡ください。
        br
        | Please contact us via LINE to let us know that you would like to have an interview.
  li
    dl
      dt
        span.icon
          | STEP.02
        | 配属先での面接
        br/
        | Interview at the assigned workplace
      dd.center
        | 配属先での面接を行います。
        br
        | You will have an interview at your assigned workplace.
        br
        | 尚、配属先によって、オンライン面接・直接面接と方法は様々なため、担当者よりご案内します。
        br
        | Depending on the workplace, the interview may be online or in person. Our staff will guide you.
  li
    dl
      dt
        span.icon
          | STEP.03
        | 車両の確保
        br/
        | Securing a vehicle
      dd.center
        | 車がない場合、車を購入するか、リース会社からレンタルを行います。
        br/
        | If you do not have a car, you will either purchase one or rent one from a leasing company.
        | 日本語が苦手な場合でも、担当者がフォローします。
        br/
        | Even if Japanese is difficult for you, our staff will support you.
  li
    dl
      dt
        span.icon
          | STEP.04
        | 勤務開始
        br/
        | Start working
      dd.center
        | 車両確保を完了したら勤務開始です。
        br/
        | Once your vehicle is secured, you can start working.

= link_to 'Back to LINE', "https://lin.ee/yVI3ClY", class: 'btn btn-success btn-block', id: 'next-button'