.section.black-number
  h2.title Black Number Registration Flow
  p.note
    | *This guide provides the basic flow. Procedures may vary depending on your jurisdiction, so please make sure to confirm the application method in advance.*

  .timeline
    .step
      .circle 0
      .card
        h3 Things to Prepare in Advance
        ul.doc-list
          li Vehicle Inspection Certificate
          li Compulsory Automobile Liability Insurance Certificate
          li Resident Certificate (within 3 months)

    .step
      .circle 1
      .card
        h3 "運輸支局" for Your Area
        = link_to "Check Location", "https://carnext.jp/unyu/", class: "btn-process", target: "_blank"
        ul.doc-list
          li Notification of Freight Light Vehicle Transportation Business
          li Business Vehicle Contact Form
          li Fare Table
        p.note
          | *Documents can be filled out on-site.*
        p.note
          | *The license plate fee is approximately 1,900 JPY.*

    .step
      .circle 2
      .card
        h3 "軽自動車検査協会"
        p Location:
        = link_to "Check Location", "https://www.keikenkyo.or.jp/office/", class: "btn-process", target: "_blank"
        p Bring the documents stamped at the Transport Bureau and complete the procedure to change to a black number plate.
        p.note
          | *(Yellow plates must be returned.)*

    .step
      .circle 3
      .card
        h3 Other Checkpoints
        ul.doc-list
          li Confirm your insurance coverage (compulsory and voluntary). If there is any deficiency, insurance may not apply.
          li From April 2025, it is mandatory to take the Freight Light Vehicle Safety Manager Training. Make sure to complete it.