- set_meta_tags  title: '協同組合・登録支援機関向けの外国人データベース『J Work』'
- set_meta_tags  description: '協同組合・登録支援機関向けの外国人データベース『J Work』'
.back-image-index.back-image-top
  .row
    .col-sm-6
       = image_tag "base.webp", class: "pc-image", alt:"自動販売機を設置するなら『自動販売機ねっと』。自動販売機ねっとなら、キリン自動販売機・アサヒ自動販売機・サントリー自動販売機・大塚自動販売機・コカコーラ自動販売機・ダイドー自動販売機・伊藤園自動販売機・ネオス自動販売機から最適な条件の自動販売機の設置を一元サポートします。"
       = image_tag "base.webp", class: "mobile-image", alt:"自動販売機を設置するなら『自動販売機ねっと』。自動販売機ねっとなら、キリン自動販売機・アサヒ自動販売機・サントリー自動販売機・大塚自動販売機・コカコーラ自動販売機・ダイドー自動販売機・伊藤園自動販売機・ネオス自動販売機から最適な条件の自動販売機の設置を一元サポートします。"
    .col-sm-6
        h1.index-3
         | 人材紹介会社・登録支援機関向け
         br
         | 毎月500名の人材にアプローチ
         br
         .blue
          |外国人データベース J Work
        =link_to 'https://lin.ee/XuNNFQv' do
         =image_tag 'line.webp', width: '100%', class: 'center', alt:"自動販売機の一括見積もり『自動販売機ねっと』をご利用ならこちらをクリック。簡単60秒で無料で自動販売機を一括比較見積もり"

br
hr.line
br

  /# push font
h2.push
     span
       | 他社と圧倒的な差別化！
       br
       | 外国人人材紹介力が変わります！


br
hr.line
br


/# USP Point
.top-wrapper
  h2.heading
    strong
     | 『J Work』データベース
    | の仕組み
  br
  h6.heading
    br
    | 外国人データベース『J Work』の基本的な仕組みをご紹介します。当社のデータベースには国内転職を希望する人材が毎月300~500名ほど登録されます。J Workデータベースに加盟頂いている企業様は自由に求職者にアプローチを行い営業先企業への紹介を行う事ができます。
  br/
  br/
.row.center
    .col-sm-12
      =image_tag 'db1.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

/# Trouble
.top-wrapper
  h2.heading
    strong
      | こんなお悩み
    | のあなたに最適です
  h6.heading
    br
    | 外国人データベース『J Work』は、以下のような企業様に特におすすめさせて頂いております。
  br/
  br/
.row.center
    .col-sm-12
      =image_tag 'db2.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


br
hr.line
br

  /# push font
  h2.push
     span
       | お任せください！
       br
       | 即戦力の国内外国人が多数在籍！


br
hr.line
br

/# inquiry image
.row
  .col-sm-12.center
    =link_to "https://lin.ee/XuNNFQv", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center', alt: "成果報酬制テレアポ代行『アポ匠』に関するお問い合わせ電話番号、メールアドレス、営業時間を記載しています。お気軽にお問い合わせください。"
br
hr.line
br


.top-wrapper
  h2.heading
    strong
      | こんな業種の方が
    | 多く登録しています！
  h6.heading
    br
    | 外国人データベース『J Work』で転職希望の依頼が多い業種についてご紹介しております。以下の業種以外にも幅広い応募がございます。
  br
  br
.row
  .col-sm-4.text-center.center-on-mobile
    .border2
      p 介護
      = image_tag "work-1.jpg", class: 'block-image'
  .col-sm-4.text-center.center-on-mobile
    .border2
      p 食品加工
      = image_tag "work-3.jpg", class: 'block-image'
  .col-sm-4.text-center.center-on-mobile
    .border2
      p エンジニア
      = image_tag "work-5.jpg", class: 'block-image'

.row
  .col-sm-4.text-center.center-on-mobile
    .border2
      p 工場全般
      = image_tag "work-2.jpg", class: 'block-image'
  .col-sm-4.text-center.center-on-mobile
    .border2
      p ホテル受付
      = image_tag "work-6.jpg", class: 'block-image'
  .col-sm-4.text-center.center-on-mobile
    .border2
      p 通訳
      = image_tag "work-7.jpg", class: 'block-image'

br
hr.line
br

  /# push font
  h2.push
     span
       | 他にも様々な業種の人材が登録！
       br
       | その他の強みも一挙に紹介！



br
hr.line
br

/# inquiry image
.row
  .col-sm-12.center
    =link_to "https://lin.ee/XuNNFQv", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center', alt: "成果報酬制テレアポ代行『アポ匠』に関するお問い合わせ電話番号、メールアドレス、営業時間を記載しています。お気軽にお問い合わせください。"
br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 国内で稼働する外国人に特化
  h6.heading
    br
    | 外国人データベース『J Work』にご登録している人材は全て国内の転職層に特化しております。そのため来日不要でかつ、日本語も問題なく話すことが出来、スムーズに転職を行うことが出来ます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign1.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"



br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 毎月300~500名!!
    | リアルタイムに更新
  br
  h6.heading
    br
    | 外国人データベース『J Work』では、転職を希望する国内人材から毎月300名以上の応募があります。多くの人材が転職ニーズを非常に高く持ち合わせています。
  br/
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign2.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 同一業種転職で即戦力人材
    | が多い！
  br
  h6.heading
    br
    | 外国人データベース『J Work』の人材の特徴は、応募人材が既に御社の業種・職種の経験者である確率が非常に高いこと。これは、外国人在留資格が影響しており、業種を変更するためには新たな試験に合格する必要があるため、同一職種による転職が大半を占めます。
  br/
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign4.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 日常生活サポートは
    | 最小限でOK！
  br
  h6.heading
    br
    | 通常の登録支援機関や協同組合から人材を受け入れると、日本で生活したことがない人材のため、空港送迎やオリエンテーション、生活サポートと労力が大変多いです。外国人データベース『J Work』なら国内での転職人材となり、既に日本で在住経験があるので最低限のサポートのみでOKです。
  br/
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign3.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br


.top-wrapper
  h2.heading
      | 前職退職後
      strong
       | 最短即日勤務OK！
  br
  h6.heading
    br
    | 外国人データベース『J Work』は、先述の通り、外国人在留資格の理由もあり、前職を退職してからすぐに次の仕事に就きたい人が大半です。そのため、前職を離職後、即日で御社で稼働することができます。
  br/
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign5.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

/# inquiry image
.row
  .col-sm-12.center
    =link_to "https://lin.ee/XuNNFQv", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center', alt: "成果報酬制テレアポ代行『アポ匠』に関するお問い合わせ電話番号、メールアドレス、営業時間を記載しています。お気軽にお問い合わせください。"
br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 料金案内
  br
  br
  br/
  table.company.center
     tr
      th.arrow-box-cell 初期費用
      td.responsive-cell.red 0円
     tr
      th.arrow-box-cell 月額費用
      td.label-cell.red 0円
     tr
      th.arrow-box-cell 報酬モデル
      td.responsive-cell.red 採用決定時のみ

br
hr.line
br/

.top-wrapper
  h2.heading
    strong
      | 『J Work』
    | 導入フロー
  br
  br
  h6.heading
    | 外国人データベース『J Work』をご利用頂く際の導入フローをご案内いたします。

br
br

ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | LINE申請
      dd.center
        | J WorkではLINE公式アカウントを活用して人材のご紹介を行なっております。
        br
        | 以下よりご入室をお願いします。（オンライン商談は行なっておりません）
  li
    dl
      dt
        span.icon
          | STEP.02
        | 企業情報登録・約款締結
      dd.center
        | 事前審査が問題なければ企業情報登録及び約款締結に進みます。
        br
        | 契約は約款となりますので、スムーズに完了できます。
  li
    dl
      dt
        span.icon
          | STEP.03
        | 面接設定
      dd.center
        | 御社情報に興味を持った外国人との日程調整をさせていただきます。
        br/
        | データベースご利用の際、求人情報及びその企業名が必要となります。
  li
    dl
      dt
        span.icon
          | STEP.04
        | 成功報酬支払い
      dd.center
        | 採用が決定した場合、成果報酬金額をお支払いいただきます。
        br
        | その後も案件単位で都度発注いただくことが可能です。

br
br
hr.line
br


.row
  .col-sm-12.center
    =link_to "https://lin.ee/XuNNFQv", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'