- set_meta_tags  title: '軽貨物ドライバーになるために'
- set_meta_tags  description: '軽貨物ドライバーになるために'
= render 'shared/step_indicator'
.jwork-section
  h2.jwork-headline
    | 4パターンの仕事一覧

.jwork-section
  h2.jwork-headline 
    | ⭐️ヤマト運輸や佐川急便
    br/
    |（個人配送業）
  .row.center
    .col-sm-12
      =image_tag 'matter1.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      = audio_tag '/yamato.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 1個配送ごとに報酬がもらえるインセンティブ制だが、慣れるととても稼ぎやすいお仕事
          li 日給20,000~25,000円を誰でも目指せる
      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li 最初に慣れるまでは配送数が少なくなるので、報酬は低め
          li 日本語の読みに時間がかかる人の場合、配送数が伸びにくい

.jwork-section
  h2.jwork-headline 
    | ⭐️企業配送＋個人配送
    br/
    |（兼業モデル）
  .row.center
    .col-sm-12
      =image_tag 'matter2.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      = audio_tag '/mix.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 企業配送の手軽さと、夜が稼ぎやすい個人配送を組み合わせて働ける
          li 安定した給料を得られる企業配送の後に、インセンティブで稼げる個人配送に挑戦できるので、多くの給料を稼げる
      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li 地方は企業配送が見つかりにくいので都会向き
          li 現場を移動する必要がある。

.jwork-section
  h2.jwork-headline 
    | Amazon配送
    br/
    |（個人配送業）
  .row.center
    .col-sm-12
      =image_tag 'matter3.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      = audio_tag '/amazon.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 英語の端末機を利用できるので、日本語が読めなくてもOK
          li 置き配できるので、直接荷物を手渡しする必要がほとんどありません。

      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li 配達量が多いので体力に自信のある方
          li 日給が固定で支給されるので、他の仕事に比較すると報酬は低め

.jwork-section
  h2.jwork-headline 
    | 企業配送
  .row.center
    .col-sm-12
      =image_tag 'matter4.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      = audio_tag '/company.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 朝早くからスタートするので夕方くらいには終わることが出来る。
          li 配送数が30~50個ほどと少ないので翻訳を使いながら仕事ができる。

      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li かんたんな仕事なので、企業配送のみだと報酬が少ない。
          li 個人配送より運転が長いので、ガソリン代がかかる。


= link_to '次へ進む', top_attention_path, class: 'btn btn-primary btn-block', id: 'next-button'

