- set_meta_tags  title: '軽貨物ドライバーになるために'
- set_meta_tags  description: '軽貨物ドライバーになるために'
= render 'shared/step_indicator'
.jwork-section
  h2.jwork-headline
    | 4パターンの仕事一覧
    br/
    | List of 4 types of work

.jwork-section
  h2.jwork-headline 
    | ⭐️ヤマト運輸や佐川急便
    br/
    |（個人配送業）
    br/
    | Yamato Transport and Sagawa Express
    br/
    |(personal delivery services)
  .row.center
    .col-sm-12
      =image_tag 'matter1.png', width:"70%"
      br/
      .red
       | ⇩⇩音声を再生してください⇩⇩
       br/
       | Please play the audio
      = audio_tag '/yamato.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 1個配送ごとに報酬がもらえるインセンティブ制だが、慣れるととても稼ぎやすいお仕事 -You are paid per delivery (incentive-based), and once you get used to it, it becomes easy to earn well-
          li 日給20,000~25,000円を誰でも目指せる -Anyone can aim to earn 20,000–25,000 yen per day-
      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li 最初に慣れるまでは配送数が少なくなるので、報酬は低め -At the beginning, the number of deliveries is low, so income tends to be lower-
          li 日本語の読みに時間がかかる人の場合、配送数が伸びにくい -If reading Japanese takes time, it can be difficult to increase the number of deliveries-

.jwork-section
  h2.jwork-headline 
    | ⭐️企業配送＋個人配送
    br/
    |（ダブルワークモデル）
    br/
    | Corporate delivery + personal delivery
    br/
    |(double job model)
  .row.center
    .col-sm-12
      =image_tag 'matter2.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      | Please play the audio
      = audio_tag '/mix.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 企業配送の手軽さと、夜が稼ぎやすい個人配送を組み合わせて働ける -You can combine the simplicity of corporate delivery with the higher earning potential of evening personal delivery-
          li 安定した給料を得られる企業配送の後に、インセンティブで稼げる個人配送に挑戦できるので、多くの給料を稼げる -After earning stable income from corporate delivery, you can increase your earnings through incentive-based personal delivery-
      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li 地方は企業配送が見つかりにくいので都会向き -Corporate delivery jobs are harder to find in rural areas, so this model suits urban areas better-
          li 現場を移動する必要がある。 -You need to move between different work locations-

.jwork-section
  h2.jwork-headline 
    | Amazon配送
    br/
    |（個人配送業）
    br
    | Amazon delivery
    br/
    |（Personal delivery business）
  .row.center
    .col-sm-12
      =image_tag 'matter3.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      | Please play the audio
      = audio_tag '/amazon.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 英語の端末機を利用できるので、日本語が読めなくてもOK -You can use an English device, so it is OK even if you cannot read Japanese-
          li 置き配できるので、直接荷物を手渡しする必要がほとんどありません。-Because contactless delivery is common, you rarely need to hand packages directly to customers-

      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li 配達量が多いので体力に自信のある方 -The delivery volume is high, so this job is suitable for people with good physical strength-
          li 日給が固定で支給されるので、他の仕事に比較すると報酬は低め -Daily pay is fixed, so compared to other jobs, earnings tend to be lower-

.jwork-section
  h2.jwork-headline 
    | 企業配送
    br/
    | corporate delivery
  .row.center
    .col-sm-12
      =image_tag 'matter4.png', width:"50%"
      br/
      .red ⇩⇩音声を再生してください⇩⇩
      br/
      | Please play the audio
      = audio_tag '/company.mp3', controls: true
  br/
  .lc-layout
    .lc-content
      .lc-card.lc-good
        h3.lc-card-title Good
        ul.lc-list
          li 朝早くからスタートするので夕方くらいには終わることが出来る。 -Because work starts early in the morning, you can usually finish around the evening-
          li 配送数が30~50個ほどと少ないので翻訳を使いながら仕事ができる。 -Since the number of deliveries is relatively small (about 30–50), you can work while using translation tools-

      .lc-card.lc-bad
        h3.lc-card-title Bad
        ul.lc-list
          li かんたんな仕事なので、企業配送のみだと報酬が少ない。 -Because the work is simple, doing only corporate delivery results in lower income-
          li 個人配送より運転が長いので、ガソリン代がかかる。 -Driving time is longer than personal delivery, so fuel costs are higher-


= link_to 'Next Page', top_attention_path, class: 'btn btn-primary btn-block', id: 'next-button'
