- set_meta_tags  title: '即戦力の特定技能外国人の転職なら『J Work』'
- set_meta_tags  description: '特定技能外国人の転職（とくていぎのうがいこくじんのてんしょく）ならFutureJobsにお任せください。'

.tops-wrapper
 h2.headline
    | 軽貨物ドライバーになるために
 .row.center
   .col-sm-12
     p 本ページでは、軽貨物ドライバーになるための流れをご案内致します。非常に重要な内容となっておりますので、必ず入念な確認を行なってください。

.tops-wrapper
 h2.headline
    | 契約形態について
 .row.center
   .col-sm-6
     p 
      | 軽貨物ドライバーの大半は『業務委託契約』により締結されます。当社でも同様にドライバーと業務提携契約を結び、お仕事を手配致します。注意点として、個人事業主として稼働を行うため、社会保険や労働保険は会社で加入せず個人で加入するものとなります。   
   .col-sm-6
     =image_tag 'recruit1.webp', width:"90%"

.tops-wrapper
 h2.headline
    | 報酬形態と経費について
 .row.center
   .col-sm-12
      p 軽貨物ドライバーの報酬はそのまま全てが自身の報酬になるのではなく、以下の経費を差し引いた費用が利益として残ります。
      p【車両】次ページで解説しますが、車両がない場合、車両を購入するか、もしくはレンタルを行っていただきます。
      p【ガソリン】毎月のガソリン実費がかかります
      p【自賠責保険】法律で加入が義務付けられている保険。人身事故（他人のケガや死亡）に対して補償。
      p【車両保険】自分の車の損害（事故、盗難、自然災害など）に対して補償。荷物運搬中のトラブルや、自己車両の修理費などをカバーしたい場合に加入。
      p【自賠責保険】法律で加入が義務付けられている保険。人身事故（他人のケガや死亡）に対して補償。（レンタルリースの場合、既に付いている場合あり）
      p【貨物保険】荷物そのものを補償する保険。配送中の事故、落下、盗難、水濡れなどに対応。

.tops-wrapper
 h2.headline
  | 車両がない場合の方法
 p 軽貨物ドライバーにとって車は必要不可欠なものです。将来的に軽貨物業界で長期で働きたいなら、車を購入することをおすすめしますが、短期的なリースもあります。

 .row.center
   .col-sm-6
     p 
      | 【車両購入】長期的にドライバーとして活躍して行きたいなら絶対に購入がおすすめです。毎月のレンタル代がかからないため多くのお金を稼ぐことができます。
   .col-sm-6
     =image_tag 'recruit2.webp', width:"90%"
 br/
 .row.center
   .col-sm-6
     p 
      | 【短期リース】最初から車を購入するのは大変。。。と言う方には短期でリース会社から月単位でリースすることができます。当社からご紹介も可能ですが、おおよそ月額35,000円〜40,000円ほどとなります。
   .col-sm-6
     =image_tag 'recruit3.webp', width:"90%"


.tops-wrapper
 h2.headline
    | 一次面接合格後の今後の稼働までの流れ

ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | 配属先での面接
      dd.center
        | まずは配属先での面接を行います。ここで印象が悪いと働くことができないので、頑張りましょう。
        br
        | 尚、配属先によって、オンライン面接・直接面接と方法は様々です。面接がない場合もあります。
  li
    dl
      dt
        span.icon
          | STEP.02
        | 業務委託契約の締結
      dd.center
        | 配属先からも問題なく稼働許可が出れば、契約書の締結を行います。
        br/
        | この段階で保険の加入の確認も行いますので、早めに準備を進めましょう。
  li
    dl
      dt
        span.icon
          | STEP.03
        | （車がない場合）車両の確保
      dd.center
        | 車がない場合、車を購入するか、リース会社からレンタルを行います。
        br/
        | 配属先から早めに稼働を希望される場合、このステップは先に行う場合があります。
  li
    dl
      dt
        span.icon
          | STEP.04
        | 勤務開始
      dd.center
        | 契約書・保険・車両確保を完了したら勤務開始です。
        br
        | 必ず配属先から指示された日までに準備をしましょう。


.tops-wrapper
 h2.headline
    | その他の注意点
 p・事故の場合は一切の負担は行いません。
 p・車両の故障の負担は行いません。
 p・車両契約ができなかった場合、業務委託契約が解除されます。