- set_meta_tags  title: '即戦力の特定技能外国人の転職なら『J Work』'
- set_meta_tags  description: '特定技能外国人の転職（とくていぎのうがいこくじんのてんしょく）ならFutureJobsにお任せください。'

.jwork-section
  h2.jwork-headline はじめに
    | 軽貨物ドライバーになるために
  .row.center
    .col-sm-12
      .jwork-example-box
        p 本ページでは、軽貨物ドライバーになるための流れをご案内致します。非常に重要な内容となっておりますので、必ず入念な確認を行なってください。

.jwork-section
  h2.jwork-headline 
    | 契約形態について
  .row.center
    .col-sm-12
      =image_tag 'recruit1.webp', width:"50%"
  br/
  br/
  .row.center
    .col-sm-12
      .jwork-example-box
        p 軽貨物ドライバーの大半は『業務委託契約』により締結されます。当社でも同様にドライバーと業務提携契約を結び、お仕事を手配致します。注意点として、個人事業主として稼働を行うため、社会保険や労働保険は会社で加入せず個人で加入するものとなります。   


.jwork-section
  h2.jwork-headline 
    | 軽貨物をはじめるために必要なもの
  .row.center
    .col-sm-4
        .jwork-example-box
          h3 軽貨物車両
          = image_tag "policy4.webp", class:"image"
          p 車両がない場合、車両を購入するか、もしくはレンタルを行っていただきます。
    .col-sm-4
        .jwork-example-box
          h3 ガソリン代
          = image_tag "policy5.webp", class:"image"
          p 毎月のガソリン実費がかかります
    .col-sm-4
        .jwork-example-box
          h3 各種保険
          = image_tag "policy6.webp", class:"image"
          p 車に乗るためにの保険や荷物を紛失した場合に保証など様々あります。


.jwork-section
  h2.jwork-headline 
   | 車両がない場合の方法
  .row.center
    .col-sm-4
        .jwork-example-box
          h3 車両購入
          = image_tag "recruit2.webp", class:"image"
          p 長期的にドライバーとして活躍して行きたいなら絶対に購入がおすすめです。毎月のレンタル代がかからないため多くのお金を稼ぐことができます。
    .col-sm-4
        .jwork-example-box
          h3 短期リース
          = image_tag "recruit3.webp", class:"image"
          p 最初から車を購入するのは大変。。。と言う方には短期でリース会社から月単位でリースすることができます。当社からご紹介も可能ですが、おおよそ月額35,000円〜40,000円ほどとなります。


.tops-wrapper
 h2.headline
    | 一次面接合格後の今後の稼働までの流れ

ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | 配属先での面接
      dd.center
        | まずは配属先での面接を行います。ここで印象が悪いと働くことができないので、頑張りましょう。
        br
        | 尚、配属先によって、オンライン面接・直接面接と方法は様々です。面接がない場合もあります。
  li
    dl
      dt
        span.icon
          | STEP.02
        | 業務委託契約の締結
      dd.center
        | 配属先からも問題なく稼働許可が出れば、契約書の締結を行います。
        br/
        | この段階で保険の加入の確認も行いますので、早めに準備を進めましょう。
  li
    dl
      dt
        span.icon
          | STEP.03
        | （車がない場合）車両の確保
      dd.center
        | 車がない場合、車を購入するか、リース会社からレンタルを行います。
        br/
        | 配属先から早めに稼働を希望される場合、このステップは先に行う場合があります。
  li
    dl
      dt
        span.icon
          | STEP.04
        | 勤務開始
      dd.center
        | 契約書・保険・車両確保を完了したら勤務開始です。
        br
        | 必ず配属先から指示された日までに準備をしましょう。


.jwork-section
  h2.jwork-headline 
    | その他の注意点
  .row.center
    .col-sm-12
      .jwork-example-box
        p・事故の場合は一切の負担は行いません。
        p・車両の故障の負担は行いません。
        p・車両契約ができなかった場合、業務委託契約が解除されます。