- set_meta_tags  title: '【0円掲載】掲載費も採用費も無料！日本語の話せる国内在住のの外国人が見つかる'
- set_meta_tags  description: '【0円掲載】掲載費も採用費も無料！日本語の話せる国内在住のの外国人が見つかる'
.back-image-index.back-image-top
  .row
    .col-sm-6
      = image_tag "base.webp", class: "pc-image"
      = image_tag "base.webp", class: "mobile-image"
    .col-sm-6
      h1.index-2
        | 掲載費
        span.red 0円 
        | 採用費
        span.red 0円 
        br/
        | 求人コスト無料採用を実現
        br
      .blue-2
        | 外国人採用
        span.red 【0円掲載】
      = link_to 'https://j-work.jp/line', target: "_blank" do
        = image_tag 'line.webp', width: '100%', class: 'center', alt: "自動販売機の一括見積もり『自動販売機ねっと』をご利用ならこちらをクリック。簡単60秒で無料で自動販売機を一括比較見積もり"


br
hr.line
br

  /# push font
h2.push
     span
       | 時代は採用コスト
       span.red 【0円】 
       br
       | 質の高い外国人が続々集まる
br
hr.line
br

.top-wrapper
  h2.heading
    strong
     | まずは実際の掲載した企業様のお声をどうぞ！
br/
.row
  .col-sm-6
    table.review
      col[width="30%"]
      col[width="70%"]
      tbody
        tr
          th.title[colspan="2"]
            .center
              | 愛知県：ドライバー（5名採用）
        tr
          th
            = image_tag "review2.webp", width: "100%"
          td
            | 『0円掲載』で求人を出したところ、1週間で20名ほどの応募がありました。日本語でのやりとりが問題ない方を厳選して頂いているようで、ドライバー経験もある外国人を３名・未経験を２名採用できました。掲載費も採用費も一切かからず、本当に助かりました。

  .col-sm-6
    table.review
      col[width="30%"]
      col[width="70%"]
      tbody
        tr
          th.title[colspan="2"]
            .center
              | 長野県：旅館（3名採用）
        tr
          th
            = image_tag "review3.webp", width: "100%"
          td
            | 知人の勧めで『0円掲載』に求人を出したところ、外国人の応募がすぐにありました。旅館やホテルでの接客経験がある方もいて、日本語対応も問題なし。3名を無事採用でき、費用も一切かからず大変満足しています。

br/
.row
  .col-sm-6
    table.review
      col[width="30%"]
      col[width="70%"]
      tbody
        tr
          th.title[colspan="2"]
            .center
              | 三重県：製造工場（10名採用）
        tr
          th
            = image_tag "review4.webp", width: "100%"
          td
            | 人手不足のため『0円掲載』に求人を掲載したところ、数日で20件以上の応募があり驚きました。工場経験者も多く、10名の採用が決まりました。掲載料も採用費も0円で、コストをかけずに即戦力を確保できました。

  .col-sm-6
    table.review
      col[width="30%"]
      col[width="70%"]
      tbody
        tr
          th.title[colspan="2"]
            .center
              | 福岡県：建設業（7名採用）
        tr
          th
            = image_tag "review1.webp", width: "100%"
          td
            | 建設業界の人手不足に悩んでいた中、『0円掲載』に求人を出したところ、数日で多くの応募が集まりました。特定技能外国人・永住ビザ人材を7名採用。費用は一切かからず、スピーディーかつ効率的な採用ができました。
br/

br
hr.line
br


/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br


/# USP Point
.top-wrapper
  h2.heading
    | どうして
    strong
     | 無料で採用できるの？
  h6.heading
    br
    | 『0円掲載』J Workは、自社で独自の人材データベースを運営しております。通常の人材紹介会社のように、他社の人材データベースを借りて運営していないため無料で人材の提供が可能です。
  br/
.row.center
    .col-sm-12
      =image_tag 'free2.webp', class: 'center entire-image'

br
hr.line
br

/# Trouble
.top-wrapper
  h2.heading
    | じゃあどこに
    strong
     | 費用が発生するの？
  h6.heading
    br
    | 外国人を採用する場合、採用する企業は外国人の支援を行う団体『登録支援機関』との提携を国が義務としています。当社はこの支援業務で収益を頂いています。
  br/
.row.center
    .col-sm-12
      =image_tag 'free3.webp', class: 'center entire-image'

br
hr.line
br

/# Trouble
.top-wrapper
  h2.heading
    | 面接人材が
    strong
     | 高品質な理由とは？
  h6.heading
    br
    | 『0円掲載』では外国人の方が実際にお申し込み頂いても、それを掲載企業様にそのまま流すと日本語レベルが到達していない等、人材質が安定しません。そのため当社がまずは求職者との第一コンタクトを取得することで、御社に最適な質の高い人材のみご提供します。
  br/
.row.center
    .col-sm-12
      =image_tag 'free4.webp', class: 'center entire-image'

br
hr.line
br

/# Trouble
.top-wrapper
  h2.heading
    strong
     | 誰でも手軽に
    | 掲載OK
  h6.heading
    br
    | 『0円掲載』では既に求人を持っていれば簡単な情報入力のみで簡単に掲載を行うことができます。
  br/
.row.center
    .col-sm-12
      =image_tag 'free5.webp', class: 'center entire-image'

br
hr.line
br


  /# push font
h2.push
     span
       | 支援費用は外国人採用で必須
       br
       | 国の手続きに則ったものです
br
hr.line
br


/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br


.top-wrapper
  h2.heading
    strong
      | こんな仕事の経験者が
    | 多く登録しています！
  h6.heading
    br
    | 即戦力外国人転職『0円掲載』で転職希望の依頼が多い業種についてご紹介しております。以下の業種以外にも幅広い応募がございます。
  br
  br
.row
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 介護
      = image_tag "work-1.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 食品加工
      = image_tag "work-3.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p エンジニア
      = image_tag "work-5.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 工場全般
      = image_tag "work-2.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p ホテル受付
      = image_tag "work-6.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 通訳
      = image_tag "work-7.jpg", class: 'block-image'


br
hr.line
br

  /# push font
  h2.push
     span
       | 他にも様々な人材が登録中
       br
       | 必要な人材をご相談ください

br
hr.line
br
/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br

  /# push font
  h2.push
     span
       | 無料なだけではありません
       br
       | 高品質な外国人の質を確保

br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 毎月300~500名登録!
    | 多くの人材にアプローチ
  h6.heading
    br
    |『0円掲載』J Workなら毎月300~500名の登録があるので、御社にピッタリの人材が高確率で見つかります。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner10.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    | 国内転職人材だから
    strong
      |日本語能力問題なし
  h6.heading
    br
    | 外国人は特定の業種で働くビザで日本に在住するため、同業種の転職が一般的。そのため既に業務経験のある即戦力の人材を確保できます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner11.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 同一業種転職で即戦力人材
    | が多い！
  h6.heading
    br
    | 外国人は特定の業種で働くビザで日本に在住するため、同業種の転職が一般的。そのため既に業務経験のある即戦力の人材を確保できます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign4.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 日常生活サポートは
    | 最小限でOK！
  h6.heading
    br
    | 通常の登録支援機関から外国人を受け入れる場合、空港送迎や生活サポートと想像以上の労力が発生しますが、J Work人材は既に日本で生活歴があるためサポートが最小限で済みます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner12.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br


.top-wrapper
  h2.heading
      | 前職退職後
      strong
       | 最短即日勤務OK！
  h6.heading
    br
    | 『0円掲載』J Workの人材は全て国内転職層のため、前職退職後最短で即日の勤務が可能です。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign5.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br

.top-wrapper
  h2.heading
    | 転居可能な人材比率が
    strong
     | 驚異の70~80%!!
  h6.heading
    br
    | 『0円掲載』J Workの人材は、多くの人材が転職の際、転居可能であること。そのため地方の企業様でも採用確率が非常に高いです。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner14.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    | 永住ビザ・技人国ビザも
    strong
     | ご相談ください！
  h6.heading
    br
    | 特定技能外国人は雇用できない。。。そんな方でも大丈夫！永住ビザの資格を保有している人材であれば採用人数制限はなく、またお仕事内容によっては技人国ビザのご紹介も可能です。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner13.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


.top-wrapper
  h2.heading
    strong
      | 料金案内
  br
  br
  h6.heading
    | 以下では、即戦力外国人材国内転職『0円』のご利用料金をご案内しております。
  br/
  table.company.center
     tr
      th.arrow-box-cell サイト掲載費
      td.responsive-cell.red 完全無料
     tr
      th.arrow-box-cell 面接費用
      td.responsive-cell.red 完全無料
     tr
      th.arrow-box-cell 採用費
      td.responsive-cell.red 完全無料

br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 『0円掲載』
    | のよくある質問
  br
  br
  h6.heading
    | 即戦力外国人材国内転職『0円掲載』でよくある質問の一覧を掲載しております。

.cp_qa
    .cp_actab.left
      input#cp_tabfour028[type="checkbox" name="tabs"]
      label[for="cp_tabfour028"]
        h4 日本語はどの程度話せる人材でしょうか？
      .cp_actab-content
        p
          | 前提として人材に差はありますが、日本でお仕事をされている方ばかりではあるので、日本語検定以上の日本語レベルがある方が多いです。弊社でもレベル確認の目的より、外国人材には日本語のみでの対応を行っており、会話が成り立たない人材についてはサービス提供をお断りしており、当社サイトには登録しておりません。
    .cp_actab.left
      input#cp_tabfour029[type="checkbox" name="tabs"]
      label[for="cp_tabfour029"]
        h4 今既に登録支援機関と付き合いがあるんだけど？
      .cp_actab-content
        p
          | 登録支援機関は基本的に『外国人人材単位』での契約となっております。そのため外国人人材が複数名在籍している場合、登録支援機関も複数取引する形となります。但し、既に取引のある登録支援機関をご紹介いただき、折り合いがつけば、現行登録支援機関に内容を引き継ぐことが可能となります。
    .cp_actab.left
      input#cp_tabfour031[type="checkbox" name="tabs"]
      label[for="cp_tabfour031"]
        h4 採用決定したが、やはり採用を取り消したい
      .cp_actab-content
        p
          | 恐れ入りますが、採用決定した後は、既に前職の勤務先より在留管理局に退職手続きを進めております。多くの場合、社宅の解約等も決まってしまっており、最悪外国人が帰国せざるを得ない環境に陥るため、お受け致しかねます。


br
hr.line
br
br
br

/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br
br

.top-wrapper
  h2.heading
    strong
      | 『0円掲載』
    | 導入フロー
  br
  h6.heading
    | 即戦力外国人転職『0円掲載』をご利用頂く際の導入フローをご案内いたします。
br
ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | サイト掲載
      dd.center
        | まずは御社の求人情報をフォーム登録・もしくはラインより公開して頂きます。
        be 
        登録は最小限の入力で済むのでお時間はいただきません。
  li
    dl
      dt
        span.icon
          | STEP.02
        | 面接開始
      dd.center
        | お申し込みがあれば、まずは日本語レベルチェック含め当社スタッフで確認を取ります。
        br
        | 人材質に問題が無ければ面接にお進み頂きます。
  li
    dl
      dt
        span.icon
          | STEP.03
        | 採用・前職の退職手続き
      dd.center
        | 良い人材は早めに採用が決まってしまう傾向があるため、興味を持った場合は迅速に採用通知を行います。
        br/
        | 採用通知を受けた後、前職での退職手続きと日取りの決定を行います。
  li
    dl
      dt
        span.icon
          | STEP.04
        | 勤務開始
      dd.center
        | STEP.03が終了後、御社で働くための手続きを在留管理局に提出し
        br
        | 承認が得られ次第、勤務開始可能となります。

br
br
hr.line
br

/# push font
h2.push
   span
     | お気軽に相談してください。
     br
     | 掲載・採用まで完全無料で利用頂けます！
br
hr.line
br


/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line2.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click6.webp', class: 'responsive-line center'
