br/
h1.headline Please add on LINE 

a href="https://lin.ee/sSCrwS4"
  img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"

img src="https://qr-official.line.me/gs/M_522jmsbm_GW.png?oat_content=qr"



/h1.headline LINEに移動中です

/
  javascript:
    fbq('track', 'Lead');
  script[async src="https://www.googletagmanager.com/gtag/js?id=AW-10998015402"]
  script
    |
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-10998015402');

    /  gtag('event', 'conversion', {
        'send_to': 'AW-10998015402/TzzVCIjG_qQDEIzyn5cC',
        'event_callback': function() {
          window.location.href = "https://lin.ee/yVI3ClY";
        }
      });

    /  setTimeout(function() {
        window.location.href = "https://lin.ee/yVI3ClY";
      }, 5000);