- set_meta_tags title: '即戦力の特定技能外国人の転職なら『J Work』'
- set_meta_tags description: '特定技能外国人の転職（とくていぎのうがいこくじんのてんしょく）ならFutureJobsにお任せください。'

.jwork-section
  h1 『日本人と平等な待遇を。ビザ取得者が困らず生活できる日本社会の実現』
  br/
  h2.jwork-headline はじめに
  .row.center
    .col-sm-12
      .jwork-example-box
        p 最初に、株式会社J Workについて少しご説明します。当社は軽貨物・警備業・建設業でのお仕事の提供を行っている企業となります。
        p 当社の大きな特徴として、保有する案件は、永住ビザの方でも働ける仕事だけを扱っています。日本では残念ながら多くの企業が、『外国人材はお断り』となっております。当社では、そのような企業と取引は行なっていません。
        p 何故なら当社の代表は、海外各地に住んでいた経歴を持つため、外国人に対して非常に理解があります。しかし他国と比較し、日本はほとんどが純血であり、日本語しか話せない特殊な国であるため、多くの外国人が仕事探しに苦労しています。当社では、そのような日本社会の構造を疑問に思っており、永住ビザの方と一緒に『外国人が優秀であること』を一緒に証明し、お仕事を拡大していきたいと考えています。

.jwork-section
  h2.jwork-headline そのために守るべき日本のルール
  .row.center
    .col-sm-12
      .jwork-example-box
        p 日本には独自のルールが多数存在し、カルチャーの違いに苦しむ人がいるでしょう。しかし、私はその国の最低限のマナーを尊重し、守ることこそが、日本社会に認められる最低限の一つの要素になると考えています。そのため、当社では以下のルールを守れる方と一緒に仕事をしたいと考えております。
        p ①仕事を休まない
        p ②面接や勤務の時間を厳守し、無断欠勤を絶対に行わないこと
        p ③問題が発生した時、『自分は悪くない』と言い張るのではなく、『失礼しました』とお詫びから丁寧に入ること
        p ④笑顔で自分から挨拶すること
        p これらのルールを守れないと、あなただけでなく、『外国人全体』の評価を下げてしまうため、当社としても厳しく対応・教育させていただきます。


.jwork-section
  h2.jwork-headline しっかり仕事を用意して、稼げる環境を必ず用意します（実例）
  .row.center
    .col-sm-4
        .jwork-example-box
          h3 個人向け配送ドライバー
          p.condition style="color:red;" 日給30,000円×25日稼働＝750,000円
          = image_tag "policy1.webp", class:"image"
          p とにかく努力して誰よりも稼げたいドライバー取得者
      
    .col-sm-4
        .jwork-example-box
          h3 企業向け軽貨物ドライバー
          p.condition style="color:red;" 日給12,000円×25日稼働＝300,000円
          = image_tag "policy2.webp", class:"image"
          p ドライバーの資格はあるけど、日本語がうまく読めない方
      
    .col-sm-4
        .jwork-example-box
          h3 警備業
          p.condition style="color:red;" 日給12,000円×22日稼働＝250,000円
          = image_tag "policy3.webp", class:"image"
          p 車の資格がないけど、社会保険に入って安定したお仕事をしたい方
