br/
br/
.category-wrapper
  h2.headline = "求人一覧"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"

  .job-card
        h3 Amazon配達ドライバー
        p Amazonの宅配ドライバーのお仕事です。お客様宅に訪問し、荷物を届けていただきます。不在の場合、置き配ができるので効率よくお仕事できます。
        .row 
         .col-sm-6
          p
           strong 月給：
           | 350,000円
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 07:00~20:00
         .col-sm-6
          p
          strong 休日：
          | 月6回休み
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 東京都
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 3ヶ月
         .col-sm-6
          p
          strong 研修給料：
          | 300,000円
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | 永住ビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通自動車免許
        .row 
         .col-sm-6
          p
           strong その他：
           | ガソリン代と車両代は給料から差し引かれます
         .col-sm-6
          p
          strong 
          


  .job-card
        h3 ヤマト配達ドライバー
        p ヤマトの宅配ドライバーのお仕事です。お客様宅に訪問し、荷物を届けていただきます。1日の配送数が多ければ最も稼ぐことができます。（最初は難しいですが、慣れたら1日150個〜200個ほど配送できます。）
        .row 
         .col-sm-6
          p
           strong 日給：
           | 20,000円（150個配送した場合）
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 07:00~20:00
         .col-sm-6
          p
          strong 休日：
          | 月6回休み
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 千葉県
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 平均150個以上配送できるようになれば終了
         .col-sm-6
          p
          strong 研修日給：
          | 13,000円
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | 永住ビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通自動車免許
        .row 
         .col-sm-6
          p
           strong その他：
           | ガソリン代と車両代は給料から差し引かれます
         .col-sm-6
          p
          strong 
          

  .job-card
        h3 コンビニ配送
        p コンビニに新聞を届けるルート配送のお仕事。決まった場所に配送を行うので誰でも簡単にお仕事を覚えることができます。
        .row 
         .col-sm-6
          p
           strong 月給：
           | 287,500円
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 01:30~06:30 / 11:30~15:30
         .col-sm-6
          p
          strong 休日：
          | 月6回休み
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 神奈川県川崎市 or 東京都板橋区
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 3ヶ月
         .col-sm-6
          p
          strong 研修日給：
          | 250,000円
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | 永住ビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通自動車免許
        .row 
         .col-sm-6
          p
           strong その他：
           | ガソリン代と車両代は給料から差し引かれます
         .col-sm-6
          p
          strong 
          
