br/
br/
.category-wrapper
  h2.headline = "求人一覧"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"          
  = link_to "計算[Calculation]", "/top/calculation", class:"btn btn-primary"          


  .job-card
        h3 🍗🛵Rocket Now Food delivery⭐️⭐️⭐️⭐️⭐️
        p 日本新上陸の今話題のフードデリバリーサービスです。お客様から注文を受けたらレストランに向かい、商品を受け取った後、お客様の自宅まで荷物を届けます。
        .red 【通常Rocket Nowは外国人の方は働くことができませんが、当社からお申し込みの場合のみ、特別に稼働をすることができます。】
        .row 
         .col-sm-6
          p
           strong 単価：
         .col-sm-6
           | 500円/個 | 1時間あたり4個配送が基本
        .row 
         .col-sm-6
          p
          strong 報酬：
         .col-sm-6
          .red 1~3日目：500円* 1時間2.5個* 9h=11,250円
          .red 4~7日目：500円* 1時間3個* 9h=13,500円(月収337,500)
          .red 7日目〜：500円* 1時間4個* 9h=18,000円(月収450,000)
        .row 
         .col-sm-6
          p
          strong 勤務時間：
         .col-sm-6
          | 【A】11:00~16:00 / 【B】17:00~21:00
          br/
          | ※AのみやBのみの勤務も可能
        .row
         .col-sm-6
          p
          strong 通常勤務日数：
         .col-sm-6
          | 25日勤務
          br/
          | ※パートタイムも可能です。
        .row 
         .col-sm-6
          p
           strong 契約形態：
         .col-sm-6
           | 業務委託契約
           br/
           | 社会保険はありません。
        .row 
         .col-sm-6
          p
          strong 勤務地：
         .col-sm-6
          | 東京・神奈川・千葉・埼玉・名古屋・大阪・京都・神戸・福岡・仙台・札幌
        .row 
         .col-sm-6
          p
         .col-sm-6
           strong 稼働可能なビザ：
           | 永住ビザ・定住ビザ・配偶者ビザ（その他制約のないビザ）
        .row 
         .col-sm-6
          p
          strong 車両・ガソリン：
         .col-sm-6
          | 原付バイクの貸し出し（自転車勤務応相談）
          br/
          .red フルタイムで勤務で3,000円のガソリン代補助
          | ※自転車勤務可能ですが、単価は下がります。
        .row 
         .col-sm-6
          p
           strong その他：
         .col-sm-6
           | ・原付代及び諸費用は給料から差し引きされます。
           br/
           | ・地方の場合、配送単価や配送数が記載より少なくなる場合があります。
           br/
           | ・11:00~16:00 / 17:00~21:00以外も働くことはできますが、報酬は400円となります。
        .row 
         .col-sm-6
          p
           strong 注意点：
         .col-sm-6
           | ・誤配送や勤務時間内のオーダー拒否、勤務時間に勤務場所に居ない、シフト欠勤が出る場合、減給になります。
           br/
           | ・ルールを守らない行為が発生した場合、シフトの取り消し及び、車両の補助を停止致します。
           br/
           | ・基本は1時間4個の配送となりますが、地方の場合、配送個数が少なくなります。
           br
           | ・11:00~16:00 / 17:00~21:00以外も働くことはできますが、報酬は400円となります。
           br/
           | ・自転車で勤務も可能ですが、報酬条件が異なります。

  .job-card
        h3 ヤマト/佐川/日本郵便
        p 個人宅への宅配ドライバーのお仕事です。お客様宅に訪問し、荷物を届けていただきます。1日の配送数が多ければ稼ぐことができます。（最初は難しいですが、慣れたら1日150個〜200個ほど配送できます。）
        .row 
         .col-sm-6
          p
           strong 報酬
           | 130円 / 個（150配送で1日19,500円）
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 08:00~20:00くらい
         .col-sm-6
          p
          strong 休日：
          | 月6回休み
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 全国各地
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | 永住ビザ・定住ビザ・配偶者ビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通自動車免許
        .row 
         .col-sm-6
          p
           strong その他：
           | ・ガソリン代と車両代（車を持っていない場合）、保険料は給料から差し引かれます。
           br/
           | ・地方の場合、配送単価や配送数が記載より少なくなる場合があります。
           br/
           | ・ヤマトの場合、別途ネコポスの配達を兼用します。（エリアにより1配送35~50円程）
         .col-sm-6
          p
          strong 
          

  .job-card
        h3 Amazon配送
        p Amazonの個人配送のお仕事です。Amazonでは置き配を行うことができるので効率よく配送を行うことができます。
        .row 
         .col-sm-6
          p
           strong 日給：
           | 15,500円~18,500円
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 08:00~21:00
         .col-sm-6
          p
          strong 休日：
          | シフト制（完全週休2日）
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 船橋市浜町、三郷市インター南
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 1ヶ月
         .col-sm-6
          p
          strong 
          | 
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | ドライバーとして働けるビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通運転免許
        .row 
         .col-sm-6
          p
           strong その他：
           | 
         .col-sm-6
          p
          strong       

  .job-card
        h3 自転車配送
        p 電動自転車で企業の荷物の配送を行なっていただきます。主にコピー用紙や文房具の事務用品を運びます。自動車免許不要なので、手軽にスタートができます。
        .row 
         .col-sm-6
          p
           strong 日給：
           | 13,000円
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 07:00 or 07:30 ~19:30
         .col-sm-6
          p
          strong 休日：
          | 土日祝日
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 東京都中央区日本橋
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 1ヶ月
         .col-sm-6
          p
          strong 研修日給：
          | 12,000円
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | 永住ビザ・他のビザは応相談
         .col-sm-6
          p
          strong 必要な免許：
          | なし
        .row 
         .col-sm-6
          p
           strong その他：
           | 
         .col-sm-6
          p
          strong 


  .job-card
        h3 大手食品会社配送
        p 都内で食品の荷物の配送をしていただきます。配送個数は40~60個くらいのため、日本語が苦手な方にもおすすめです。
        .row 
         .col-sm-6
          p
           strong 日給：
           | 12,000円~13,000円（案件に寄る）
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 06:30~15:00 or 16:00
         .col-sm-6
          p
          strong 休日：
          | 土日祝日
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 東京都中央区日本橋
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 1ヶ月
         .col-sm-6
          p
          strong 研修日給：
          | 11,000円~16,000円
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | フルタイムで働ける方
         .col-sm-6
          p
          strong 必要な免許：
          | 普通運転免許
        .row 
         .col-sm-6
          p
           strong その他：
           | 
         .col-sm-6
          p
          strong 

  .job-card
    h3 企業配送
    p 企業配送がメインの法人向け配送案件です。午前便・午後便で分かれており、2度積み込みを実施します。ルート配送ではありませんが、配送個数が個人より少ないので1~2ヶ月ほどで慣れていただけます。昭島市、千葉市、大田区、横浜市、新木場、北区などにコースがあります。
    .row 
      .col-sm-6
        p
          strong 日給：
          | 11,000~12,000円（午前便＋午後便）
      .col-sm-6
        p
          strong 募集職種：
          | 軽貨物ドライバー
    .row 
      .col-sm-6
        p
          strong 勤務時間：
          | 07:00~16:00（最大17:00）
      .col-sm-6
        p
          strong 休日：
          | 応相談
    .row 
      .col-sm-6
        p
          strong 契約形態：
          | 業務委託契約
      .col-sm-6
        p
          strong 勤務地：
          | 昭島市・千葉市・大田区・横浜市・新木場・北区
    .row 
      .col-sm-6
        p
          strong 研修期間：
          | 人により1~3ヶ月
      .col-sm-6
        p
          strong 研修日給：
          | 同条件
    .row 
      .col-sm-6
        p
          strong 稼働可能なビザ：
          |  ドライバーで働けるビザならOK
      .col-sm-6
        p
          strong 必要な免許：
          | 普通運転免許
    .row 
      .col-sm-6
        p
          strong その他：
          | 日本語は得意でなくとも会話ができればOK
  
  .job-card
    h3 酒類の企業配送
    p 酒類配送が中心の案件です。ルート配送に近いイメージで川口・板橋・新木場エリアが勤務地。日給固定で安定し、残業代も支給されます。車両貸し出しも可能です。
    .row 
      .col-sm-6
        p
          strong 日給：
          | 12,600円
      .col-sm-6
        p
          strong 募集職種：
          | 軽貨物ドライバー
    .row 
      .col-sm-6
        p
          strong 勤務時間：
          | 08:00~17:00（最大19:00）
      .col-sm-6
        p
          strong 休日：
          | 日曜固定＋希望休1〜2日
    .row 
      .col-sm-6
        p
          strong 契約形態：
          | 業務委託契約
      .col-sm-6
        p
          strong 勤務地：
          | 川口・板橋・新木場
    .row 
      .col-sm-6
        p
          strong 研修：
          | 横乗り研修あり
      .col-sm-6
        p
          strong 支払サイト：
          | 翌々月1日払い（交渉可）
    .row 
      .col-sm-6
        p
          strong 稼働可能なビザ：
          | フルタイムで働ける方
      .col-sm-6
        p
          strong 必要な免許：
          | 普通運転免許
    .row 
      .col-sm-6
        p
          strong その他：
          |

