br/
br/
.category-wrapper
  h2.headline = "きゅうじんいちらん"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"



  .job-card
        h3 やまとのはいたつどらいばー
        p やまとのたくはいどらいばーのおしごとです。おきゃくさまたくにはいほうし、にもつをとどけていただきます。いちにちのはいそうすうがおおければもっともかせぐことができます。（さいしょはむずかしいですが、なれたらいちにちひゃくごじゅっこ〜にひゃっここほどはいそうできます。）
        .row 
         .col-sm-6
          p
           strong ほうしゅう
           | さんじゅうななまんごせんえん〜ごじゅうまんえん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | ごぜんしちじ〜ごごはちじ（おわりしだいしゅうりょう）
         .col-sm-6
          p
          strong きゅうじつ：
          | つきむっかいきゅうみ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | ちばけん（いばらきけんもきぼうのばあいか）
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | ひゃくごじゅっこいじょうはいそうできるようになればしゅうりょう
         .col-sm-6
          p
          strong けんしゅうにっきゅう：
          | いちまんえん
        .row 
         .col-sm-6
          p
           strong かどうかのうなびざ：
           | えいじゅうびざ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつうじどうしゃめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | がそりんだいとしゃりょうだいはきゅうりょうからさしひかれます
           br/
           | まいつきへいきんはいそうこすうによりきゅうよがじょうしょう：れい・ひゃくごじゅっこならさんじゅうななまんごせんえん・にひゃっこならごじゅうまんえん
         .col-sm-6
          p
          strong 
          

  .job-card
        h3 こんびにはいそう
        p こんびににしんぶんをとどけるるーとはいそうのおしごと。きまったばしょにはいそうをおこなうのでだれでもかんたんにおしごとをおぼえることができます。げっきゅうにはばがありますが、きんむじかんによりへんどうします。
        .row 
         .col-sm-6
          p
           strong げっきゅう：
           | にじゅうはちまんななせんごひゃくえん〜よんじゅうまんえん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | ごぜんいちじはん〜ごぜんろくじはん / ごぜんじゅういちじはん〜ごごさんじはん
         .col-sm-6
          p
          strong きゅうじつ：
          | つきむっかいきゅうみ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | かながわけんかわさきし または とうきょうといたばしく
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | さんかげつ
         .col-sm-6
          p
          strong けんしゅうにっきゅう：
           | にじゅうごまんえん
        .row 
         .col-sm-6
          p
           strong かどうかのうなびざ：
           | えいじゅうびざ・ていじゅうびざ・はいぐうしゃびざ・りゅうがくびざ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつうじどうしゃめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | がそりんだいとしゃりょうだいはきゅうりょうからさしひかれます
           br/
           | じょうきのこんびにはいそういがいのじかんですぽっとあんけんをたいおうすることできゅうりょうをさらにかせぐことができます。
         .col-sm-6
          p
          strong 


  .job-card
        h3 あまぞんはいそう
        p あまぞんのこじんはいそうのおしごとです。あまぞんではおきはいをおこなうことができるのでこうりつよくはいそうをおこなうことができます。
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | いちまんななせんえん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | ごぜんはちじはん〜ごごくじはん
         .col-sm-6
          p
          strong きゅうじつ：
          | しゅうふつかい
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | とない
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | いっかげつ
         .col-sm-6
          p
          strong けんしゅうにっきゅう：
           | いちまんごせんえん
        .row 
         .col-sm-6
          p
           strong かどうかのうなびざ：
           | えいじゅうびざ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつううんてんめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | 
         .col-sm-6
          p
          strong       

  .job-card
        h3 じてんしゃはいそう
        p でんどうじてんしゃできぎょうのにもつのはいそうをおこなっていただきます。おもにこぴーようしやぶんぼうぐのじむようひんをはこびます。じどうしゃめんきょふようなので、てがるにすたーとができます。
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | いちまんさんぜんえん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | ごぜんしちじ または ごぜんしちじはん〜ごごしちじはん
         .col-sm-6
          p
          strong きゅうじつ：
          | どにちしゅくじつ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | とうきょうとちゅうおうくにほんばし
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | いっかげつ
         .col-sm-6
          p
          strong けんしゅうにっきゅう：
           | いちまんにせんえん
        .row 
         .col-sm-6
          p
           strong かどうかのうなびざ：
           | えいじゅうびざ・ほかのびざはそうだんおうず
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | なし
        .row 
         .col-sm-6
          p
           strong そのた：
           | 
         .col-sm-6
          p
          strong 


  .job-card
        h3 ほうじんけいかもつはいそう
        p とないでほうじんきぎょうのにもつのはいそうをしていただきます。こじんはいそうよりほうしゅうはたかくありませんが、ほうじんのはいそうなので、きんむじかんがみじかくはたらきやすいのがとくちょうです。きんむごにすぽっとはいそうをくみあわせることでさらにかせぐこともかのう
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | いちまんにせんえん〜いちまんななせんえん（あんけんによる）
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | いちにちはちじかん
         .col-sm-6
          p
          strong きゅうじつ：
          | どにちしゅくじつ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
