br/
br/
.category-wrapper
  h2.headline = "きゅうじんいちらん"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"
  = link_to "計算[Calculation]", "/top/calculation", class:"btn btn-primary"          

  .job-card
        h3 🍗🛵Rocket Now ふーどでりばりー⭐️⭐️しゅうばらいOK⭐️⭐️
        p これは にほんに あたらしく とうじょうした ちゅうもくの ふーどでりばりーさーびすです。おきゃくさまから ちゅうもんを うけたあと、れすとらんへ むかい しょうひんを うけとり、おきゃくさまの じたくへ はいたつします。
        .red つうじょう、がいこくじんは Rocket Now ではたらくことは できませんが、とうしゃを とおして おうぼしたばあいのみ とくべつに はたらくことが かのうです。
        .row 
         .col-sm-6
           strong 
            | たんか:
         .col-sm-6
            | 1けん ¥500（ひょうじゅんれーと：1じかん あたり4けん はいたつ）
            br/
            | じてんしゃ はいたつのばあい、たんかは 1けん¥425になります。
        .row 
         .col-sm-6
           strong  
            | ほうしゅう:
         .col-sm-6
          .red 
           |1〜3にちめ: 500えん * 2.5けん/じ * 9h = 11,250えん
          .red 
           |4〜7にちめ: 500えん * 3けん/じ * 9h = 13,500えん (げっしゅう 337,500えん)
          .red 
           |7にちめ いこう: 500えん * 4けん/じ * 9h = 18,000えん (げっしゅう 450,000えん)
        .row 
         .col-sm-6
           strong  
            | しはらい:
         .col-sm-6
          p つうじょう：げつまつしめ  よくげつまつばらい
          .red 
           | しゅうばらい：まいしゅう すいようび〜かようびの きんむぶんを 2しゅうかんごに しはらい
          .red 
           | ※きめられた シフトどおりに はたらき、ミスがないことが じょうけん
          .red
           | ※しすてむてすうりょう８００えん
        .row 
         .col-sm-6
           strong  
            | きんむじかん:
         .col-sm-6
          | ふるたいむ：11:00~21:00（16:00~17:00 きゅうけい）
          br/
          | ぱーとたいむ A 11:00~15:00 または B 17:00~21:00
          | ※A または B のばあいは しゅう4〜 / ふるたいむの ばあいは しゅう2〜
        .row
         .col-sm-6
           strong  
            | つうじょう きんむにっすう:
         .col-sm-6
          | つき25にち
          br/
          | *あるばいと きんむも かのうです
        .row 
         .col-sm-6
           strong  
            | けいやくけいたい:
         .col-sm-6
           | ぎょうむいたく けいやく（しゃかいほけん なし）
        .row 
         .col-sm-6
           strong  
            | きんむち:
         .col-sm-6
          | とうきょう、かながわ、ちば、さいたま、なごや、おおさか、きょうと、こうべ、ふくおか、せんだい、さっぽろ
        .row 
         .col-sm-6
           strong  
            | たいしょうびざ:
           | えいじゅうしゃ、ていじゅうしゃ、はいぐうしゃびざ（および そのほかの しゅうろうせいげんのない びざ）
        .row 
         .col-sm-6
           strong  
            | しゃりょう:
         .col-sm-6
          | げんつき すくーたーの れんたる（じてんしゃ きんむは ようそうだん）
          br/
          .red ふるたいむ きんむのばあい、がそりん ほじょ 1,500えん
          .red すくーたーは れんたるさきを しょうかいします。
        .row 
         .col-sm-6
           strong  
            | にほんご れべる:
         .col-sm-6
          | にちじょうかいわが できればOK（よみかき ふよう）
        .row 
         .col-sm-6
           strong  
            | そのほか:
         .col-sm-6
           br/
           | ・ちほうえりあでは たんかや はいたつけんすうが きさいより すくないばあいが あります。
           br/
           | ・11:00~16:00 / 17:00~21:00 いがいの じかんでも はたらけますが、ほうしゅうは 400えんになります。
        .row 
         .col-sm-6
           strong  
            | ちゅういじこう:
         .col-sm-6
           | ・ごはいそう、きんむじかんちゅうの ちゅうもんきょひ、たいきばしょからの りだつ、しふとけっきんなどのばあいは きゅうよげんがくが あります。
           br/
           | ・るーるいはんが あったばあい、しふとていし および しゃりょうほじょが ていしされます。
           br/
           | ・きほんは 1じかん4けん はいたつですが、ちほうでは はいたつすうが すくないばあいが あります。
           br
           | ・11:00~16:00 / 17:00~21:00 いがいの じかんでも きんむかのうですが、ほうしゅうは 400えんです。
           br/
           | ・じてんしゃ きんむは かのうですが、ほうしゅうじょうけんは ことなります。
  .job-card
        h3 Amazonはいそう
        p Amazonのこじんはいそうのおしごとです。Amazonではおきはいをおこなうことができるのでこうりつよくはいそうをおこなうことができます。
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | 15,500~18,500えん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつドライバー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | 08:00〜21:00
         .col-sm-6
          p
          strong きゅうじつ：
          | シフトせい（かんぜんしゅうきゅう2にち）
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | ふなばししはまちょう、みさとしいんたーみなみ
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | 1かげつ
         .col-sm-6
          p
          strong 
          | 
        .row 
         .col-sm-6
          p
           strong かどうかのうなビザ：
           | ドライバーとしてはたらけるビザ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつううんてんめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | 
         .col-sm-6
          p
          strong       

  .job-card
    h3 おさけのきぎょうはいそう
    p おさけはいそうがちゅうしんのあんけんです。ルートはいそうにちかいイメージでかわぐち・いたばし・しんきばエリアがきんむちです。にっきゅうこていであんていし、ざんぎょうだいもしきゅうされます。しゃりょうかしだしもかのうです。
    .row
      .col-sm-6
        p
          strong にっきゅう：
          | 17,500えん
      .col-sm-6
        p
          strong ぼしゅうしょくしゅ：
          | けいかもつドライバー
    .row
      .col-sm-6
        p
          strong きんむじかん：
          | 09:00〜18:00
      .col-sm-6
        p
          strong きゅうじつ：
          | ６にち
    .row
      .col-sm-6
        p
          strong けいやくけいたい：
          | ぎょうむいたくけいやく
      .col-sm-6
        p
          strong きんむち：
          | さいたまけんかわぐちし
    .row
      .col-sm-6
        p
          strong かどうかのうなビザ：
          | フルタイムではたらけるかた
      .col-sm-6
        p
          strong ひつようなめんきょ：
          | ふつううんてんめんきょ
    .row
      .col-sm-6
        p
          strong そのた：
          | 


  .job-card
        h3 やまと/さがわ/にっぽんゆうびん
        p こじんたくへのたくはいどらいばーのおしごとです。おきゃくさまたくにほうもんし、にもつをとどけていただきます。1にちのはいそうすうがおおければかせぐことができます。（さいしょはむずかしいですが、なれたら1にち150こ〜200こほどはいそうできます。）
        .row 
         .col-sm-6
          p
           strong ほうしゅう
           | 130えん / こ（150はいそうで1にち19,500えん）
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | 08:00~20:00くらい
         .col-sm-6
          p
          strong きゅうじつ：
          | つき6かいやすみ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | ぜんこくかくち
        .row 
         .col-sm-6
          p
           strong かどうかのうなびざ：
           | えいじゅうびざ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつうじどうしゃめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | ・がそりんだいとしゃりょうだい（くるまをもっていないばあい）、ほけんりょうはきゅうりょうからさしひかれます。
           br/
           | ・ちほうのばあい、はいそうたんかやはいそうすうがきさいよりすくなくなるばあいがあります。
           br/
           | ・やまとのばあい、べっとねこぽすのはいたつをけんようします。（えりあにより1はいそう35~50えんほど）
         .col-sm-6
          p
          strong 

