br/
br/
.category-wrapper
  h2.headline = "求人一覧"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"          
  = link_to "計算[Calculation]", "/top/calculation", class:"btn btn-primary"          


  .job-card
        h3 🍗🛵Rocket Now Food delivery⭐️⭐️⭐️⭐️⭐️
        p This is a newly launched and currently popular food delivery service in Japan. Once you receive an order from a customer, you go to the restaurant, pick up the items, and deliver them to the customer’s home.
        .red Normally, foreign nationals cannot work for Rocket Now, but only when applying through our company, you can exceptionally work for them.
        .row 
         .col-sm-6
          p
           strong Unit Price:
         .col-sm-6
           | 500 yen per item | The basic rate is 4 deliveries per hour
           br/
           | ※自転車の場合、単価425円
        .row 
         .col-sm-6
          p
          strong Rewards:
         .col-sm-6
          .red Day 1–3: 500 yen × 2.5 deliveries per hour × 9h = 11,250 yen
          .red Day 4–7: 500 yen × 3 deliveries per hour × 9h = 13,500 yen (Monthly 337,500 yen)
          .red Day 7 onward: 500 yen × 4 deliveries per hour × 9h = 18,000 yen (Monthly 450,000 yen)
        .row 
         .col-sm-6
          p
          strong Working Hours:
         .col-sm-6
          | [A] 11:00–16:00 / [B] 17:00–21:00
          br/
          | *You may work only A or only B
        .row
         .col-sm-6
          p
          strong Standard Working Days:
         .col-sm-6
          | 25 days per month
          br/
          | *Part-time work is also available.
        .row 
         .col-sm-6
          p
           strong Contract Type:
         .col-sm-6
           | Outsourcing contract (Gyomu Itaku)
           br/
           | No social insurance coverage.
        .row 
         .col-sm-6
          p
          strong Work Location:
         .col-sm-6
          | Tokyo, Kanagawa, Chiba, Saitama, Nagoya, Osaka, Kyoto, Kobe, Fukuoka, Sendai, Sapporo
        .row 
         .col-sm-6
          p
         .col-sm-6
           strong Eligible Visas:
           | Permanent Resident, Long-term Resident, Spouse Visa (and other unrestricted visas)
        .row 
         .col-sm-6
          p
          strong Vehicle & Gasoline:
         .col-sm-6
          | Rental motorized scooters provided (bicycle work negotiable)
          br/
          .red A gasoline subsidy of 3,000 yen is provided for full-time work
          | *Bicycle work is possible, but the unit price will be lower.
        .row 
         .col-sm-6
          p
          strong Japanese Language Level:
         .col-sm-6
          | Basic conversational ability is sufficient (no reading or writing required)
        .row 
         .col-sm-6
          p
           strong Others:
         .col-sm-6
           | ・Scooter rental fees and miscellaneous expenses will be deducted from your pay.
           br/
           | ・In regional areas, the unit price or delivery volume may be lower than stated.
           br/
           | ・You may work outside 11:00–16:00 / 17:00–21:00, but the reward will be 400 yen per delivery.
        .row 
         .col-sm-6
          p
           strong Caution:
         .col-sm-6
           | ・Salary reductions may occur due to misdeliveries, refusing orders during working hours, absence from the designated area, or missing scheduled shifts.
           br/
           | ・If rules are violated, shifts will be canceled and vehicle subsidies will be suspended.
           br/
           | ・The standard delivery volume is 4 deliveries per hour, but this may be lower in regional areas.
           br
           | ・Working outside 11:00–16:00 / 17:00–21:00 is possible, but the reward will be 400 yen per delivery.
           br/
           | ・Bicycle work is allowed, but reward conditions differ.

  .job-card
        h3 Amazon配送
        p Amazonの個人配送のお仕事です。Amazonでは置き配を行うことができるので効率よく配送を行うことができます。
        .row 
         .col-sm-6
          p
           strong 日給：
           | 15,500円~18,500円
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 08:00~21:00
         .col-sm-6
          p
          strong 休日：
          | シフト制（完全週休2日）
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 船橋市浜町、三郷市インター南
        .row 
         .col-sm-6
          p
           strong 研修期間：
           | 1ヶ月
         .col-sm-6
          p
          strong 
          | 
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | ドライバーとして働けるビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通運転免許
        .row 
         .col-sm-6
          p
           strong その他：
           | 
         .col-sm-6
          p
          strong       

  .job-card
    h3 酒類の企業配送
    p 酒類配送が中心の案件です。ルート配送に近いイメージで川口・板橋・新木場エリアが勤務地。日給固定で安定し、残業代も支給されます。車両貸し出しも可能です。
    .row 
      .col-sm-6
        p
          strong 日給：
          | 17,500円
      .col-sm-6
        p
          strong 募集職種：
          | 軽貨物ドライバー
    .row 
      .col-sm-6
        p
          strong 勤務時間：
          | 09:00~18:00（最大19:00）
      .col-sm-6
        p
          strong 休日：
          | 月6日
    .row 
      .col-sm-6
        p
          strong 契約形態：
          | 業務委託契約
      .col-sm-6
        p
          strong 勤務地：
          | 埼玉県川口市
    .row 
      .col-sm-6
        p
          strong 稼働可能なビザ：
          | フルタイムで働ける方
      .col-sm-6
        p
          strong 必要な免許：
          | 普通運転免許
    .row 
      .col-sm-6
        p
          strong その他：
          |


  .job-card
        h3 ヤマト/佐川/日本郵便
        p 個人宅への宅配ドライバーのお仕事です。お客様宅に訪問し、荷物を届けていただきます。1日の配送数が多ければ稼ぐことができます。（最初は難しいですが、慣れたら1日150個〜200個ほど配送できます。）
        .row 
         .col-sm-6
          p
           strong 報酬
           | 130円 / 個（150配送で1日19,500円）
         .col-sm-6
          p
          strong 募集職種：
          | 軽貨物ドライバー
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | 08:00~20:00くらい
         .col-sm-6
          p
          strong 休日：
          | 月6回休み
        .row 
         .col-sm-6
          p
           strong 契約形態：
           | 業務委託契約
         .col-sm-6
          p
          strong 勤務地：
          | 全国各地
        .row 
         .col-sm-6
          p
           strong 稼働可能なビザ：
           | 永住ビザ・定住ビザ・配偶者ビザ
         .col-sm-6
          p
          strong 必要な免許：
          | 普通自動車免許
        .row 
         .col-sm-6
          p
           strong その他：
           | ・ガソリン代と車両代（車を持っていない場合）、保険料は給料から差し引かれます。
           br/
           | ・地方の場合、配送単価や配送数が記載より少なくなる場合があります。
           br/
           | ・ヤマトの場合、別途ネコポスの配達を兼用します。（エリアにより1配送35~50円程）
         .col-sm-6
          p
          strong 
          
  

