br/
br/
.category-wrapper
  h2.headline = "Job Listings"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"
  = link_to "計算[Calculation]", "/top/calculation", class:"btn btn-primary"          

  .job-card
        h3 🍗🛵Rocket Now Food delivery⭐️⭐️⭐️⭐️⭐️
        p This is a hot new food delivery service that has just arrived in Japan. After receiving an order from a customer, you head to the restaurant, pick up the items, and deliver them to the customer's home.
        .red Normally, foreign nationals cannot work for Rocket Now, but only when applying through our company, you can specially work for them.
        .row 
         .col-sm-6
           strong 
            | Unit Price:
         .col-sm-6
        .row 
         .col-sm-6
           strong  
            | Rewards:
         .col-sm-6
          .red 
           |Days 1-3: 500 yen * 2.5 items/hr * 9h = 11,250 yen
          .red 
           |Days 4-7: 500 yen * 3 items/hr * 9h = 13,500 yen (Monthly 337,500)
          .red 
           |Day 7 onwards: 500 yen * 4 items/hr * 9h = 18,000 yen (Monthly 450,000)
        .row 
         .col-sm-6
           strong  
            | Working Hours:
         .col-sm-6
          | A 11:00~16:00 / B 17:00~21:00
          br/
          | *Possible to work only A or only B
        .row
         .col-sm-6
           strong  
            | Normal Working Days:
         .col-sm-6
          | 25 days per month
          br/
          | *Part-time work is also possible.
        .row 
         .col-sm-6
           strong  
            | Contract Type:
         .col-sm-6
           | Outsourcing contract (Gyomu Itaku)
           br/
           | No social insurance.
        .row 
         .col-sm-6
           strong  
            | Location:
         .col-sm-6
          | Tokyo, Kanagawa, Chiba, Saitama, Nagoya, Osaka, Kyoto, Kobe, Fukuoka, Sendai, Sapporo
        .row 
         .col-sm-6
           strong  
            | Eligible Visas:
           | Permanent Resident, Long-term Resident, Spouse Visa (and other unrestricted visas)
        .row 
         .col-sm-6
           strong  
            | Vehicle & Gasoline:
         .col-sm-6
          | Rental of motorized scooters (Bicycle work negotiable)
          br/
          .red 3,000 yen gasoline subsidy for full-time work
          | *Bicycle work is possible, but the unit price will be lower.
        .row 
         .col-sm-6
           strong  
            | Japanese Level:
         .col-sm-6
          | OK if you can communicate normally (No reading/writing required)
        .row 
         .col-sm-6
           strong  
            | Others:
         .col-sm-6
           | ・Scooter fees and miscellaneous expenses will be deducted from pay.
           br/
           | ・In regional areas, unit price or delivery volume may be lower than stated.
           br/
           | ・You can work outside 11:00~16:00 / 17:00~21:00, but the reward will be 400 yen.
        .row 
         .col-sm-6
           strong  
            | Caution:
         .col-sm-6
           | ・Salary reductions occur for misdeliveries, order refusals during hours, absence from location, or shift absences.
           br/
           | ・If rules are violated, shifts will be canceled and vehicle subsidies will be stopped.
           br/
           | ・The base is 4 deliveries per hour, but volume is lower in regional areas.
           br
           | ・Working outside 11:00~16:00 / 17:00~21:00 is possible, but the reward is 400 yen.
           br/
           | ・Bicycle work is possible, but reward conditions differ.
 
  .job-card
        h3 Yamato / Sagawa / Japan Post
        p This is a parcel delivery driver job to individual homes. You will visit customers’ houses and deliver packages. The more deliveries you complete in a day, the more you can earn. (It is difficult at first, but once you get used to it, you can deliver around 150 to 200 packages per day.)
        .row 
         .col-sm-6
          p
           strong Compensation
           | 130 yen / per delivery (19,500 yen per day for 150 deliveries)
         .col-sm-6
          strong Position：
          | Light cargo delivery driver
        .row 
         .col-sm-6
          p
           strong Working hours：
           | 08:00~20:00
         .col-sm-6
          strong Days off：
          | 6 days off per month
        .row 
         .col-sm-6
          p
           strong Contract type：
           | Outsourcing contract
         .col-sm-6
          strong Work location：
          | Available nationwide
        .row 
         .col-sm-6
          p
           strong Eligible visas：
           | Permanent resident visa, long-term residence visa, spouse visa
         .col-sm-6
          strong Required license：
          | Regular driver’s license
        .row 
         .col-sm-6
          p
           strong Other：
           | ・Gasoline, vehicle cost (if you don't own a car), and insurance fees will be deducted from your earnings.
           br/
           | ・In rural areas, unit price and delivery volume may be lower than listed.
           br/
           | ・For Yamato, you will also handle Nekopos deliveries. (35–50 yen per delivery depending on area)
 

  .job-card
        h3 Amazon Delivery
        p This is a personal delivery job for Amazon. Since Amazon allows “置き配” (placing parcels at the door), you can deliver efficiently.
        .row 
         .col-sm-6
          p
           strong Daily Pay:
           | 15,500 yen〜18,500yen
         .col-sm-6
          p
          strong Position:
          | Light Cargo Driver
        .row 
         .col-sm-6
          p
           strong Working Hours:
           | 08:00~21:00
         .col-sm-6
          p
          strong Holidays:
          | Shift system (Two guaranteed days off per week)
        .row 
         .col-sm-6
          p
           strong Contract Type:
           | Outsourcing contract
         .col-sm-6
          p
          strong Location:
          | Funabashi City Hamacho, Misato City Inter-Minami
        .row 
         .col-sm-6
          p
           strong Training Period:
           | 1 month
         .col-sm-6
          p
          strong 
          | 
        .row 
         .col-sm-6
          p
           strong Available Visa:
           | Visa that allows working as a driver
         .col-sm-6
          p
          strong Required License:
          | Regular driver's license
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong       

  .job-card
        h3 Bicycle Delivery
        p You will deliver packages for companies using an electric bicycle. Mainly, you will transport office supplies such as copy paper and stationery. A driver’s license is not required, so you can start easily.
        .row 
         .col-sm-6
          p
           strong Daily Pay:
           | 13,000 yen
         .col-sm-6
          p
          strong Position:
          | Light Cargo Driver
        .row 
         .col-sm-6
          p
           strong Working Hours:
           | 07:00 or 07:30 ~ 19:30
         .col-sm-6
          p
          strong Holidays:
          | Saturdays, Sundays, and National Holidays
        .row 
         .col-sm-6
          p
           strong Contract Type:
           | Outsourcing contract
         .col-sm-6
          p
          strong Location:
          | Nihonbashi, Chuo Ward, Tokyo
        .row 
         .col-sm-6
          p
           strong Training Period:
           | 1 month
         .col-sm-6
          p
          strong Training Daily Pay:
          | 12,000 yen
        .row 
         .col-sm-6
          p
           strong Available Visa:
           | Permanent residence visa / Other visas negotiable
         .col-sm-6
          p
          strong Required License:
          | None
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong 


  .job-card
        h3 Major Food Company Delivery
        p You will deliver food packages within Tokyo. Since the number of deliveries is about 40 to 60, this job is also suitable for those who are not fluent in Japanese.
        .row 
         .col-sm-6
          p
           strong Daily Pay:
           | 12,000 yen ~ 13,000 yen (depending on the job)
         .col-sm-6
          p
          strong Position:
          | Light Cargo Driver
        .row 
         .col-sm-6
          p
           strong Working Hours:
           | 06:30~15:00 or 16:00
         .col-sm-6
          p
          strong Holidays:
          | Saturdays, Sundays, and National Holidays
        .row 
         .col-sm-6
          p
           strong Contract Type:
           | Outsourcing contract
         .col-sm-6
          p
          strong Location:
          | Nihonbashi, Chuo Ward, Tokyo
        .row 
         .col-sm-6
          p
           strong Training Period:
           | 1 month
         .col-sm-6
          p
          strong Training Daily Pay:
          | 11,000 yen ~ 16,000 yen
        .row 
         .col-sm-6
          p
           strong Available Visa:
           | Full-time work eligibility required
         .col-sm-6
          p
          strong Required License:
          | Regular driver's license
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong 

.job-card
  h3 Company Delivery
  p This is a corporate delivery job mainly for businesses. Morning and afternoon shifts are separated, with two loading times. Although it is not route delivery, the number of deliveries is smaller than individual deliveries, so you can get used to it in about 1–2 months. Courses are available in Akishima, Chiba, Ota, Yokohama, Shinkiba, Kita, and other areas.
  .row
    .col-sm-6
      p
        strong Daily Pay:
        | 11,000–12,000 yen (Morning + Afternoon)
    .col-sm-6
      p
        strong Position:
        | Light Cargo Driver
  .row
    .col-sm-6
      p
        strong Working Hours:
        | 07:00–16:00 (Max 17:00)
    .col-sm-6
      p
        strong Holidays:
        | Negotiable
  .row
    .col-sm-6
      p
        strong Contract Type:
        | Outsourcing Contract
    .col-sm-6
      p
        strong Location:
        | Akishima, Chiba, Ota, Yokohama, Shinkiba, Kita
  .row
    .col-sm-6
      p
        strong Training Period:
        | 1–3 months depending on the person
    .col-sm-6
      p
        strong Training Daily Pay:
        | Same as above
  .row
    .col-sm-6
      p
        strong Available Visa:
        | Any visa that allows working as a driver
    .col-sm-6
      p
        strong Required License:
        | Regular Driver's License
  .row
    .col-sm-6
      p
        strong Other:
        | Japanese language proficiency not required as long as you can communicate

.job-card
  h3 Alcohol Delivery
  p This job mainly involves delivering alcoholic beverages. The job is similar to route delivery. Locations are Kawaguchi, Itabashi, and Shinkiba. Fixed daily pay ensures stability, and overtime is paid. Vehicle rental is also possible.
  .row
    .col-sm-6
      p
        strong Daily Pay:
        | 12,600 yen
    .col-sm-6
      p
        strong Position:
        | Light Cargo Driver
  .row
    .col-sm-6
      p
        strong Working Hours:
        | 08:00–17:00 (Max 19:00)
    .col-sm-6
      p
        strong Holidays:
        | Sunday fixed + 1–2 days off by request
  .row
    .col-sm-6
      p
        strong Contract Type:
        | Outsourcing Contract
    .col-sm-6
      p
        strong Location:
        | Kawaguchi, Itabashi, Shinkiba
  .row
    .col-sm-6
      p
        strong Training:
        | Side-by-side training available
    .col-sm-6
      p
        strong Payment Terms:
        | Payment on the 1st of the second following month (negotiable)
  .row
    .col-sm-6
      p
        strong Available Visa:
        | Full-time work eligibility required
    .col-sm-6
      p
        strong Required License:
        | Regular Driver's License
  .row
    .col-sm-6
      p
        strong Other:
        | 
