br/
br/
.category-wrapper
  h2.headline = "Job Listings"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"
  = link_to "計算[Calculation]", "/top/calculation", class:"btn btn-primary"          

  .job-card
        h3 🍗🛵Rocket Now Food Delivery⭐️⭐️Weekly payment⭐️⭐️
        p This is a popular new food delivery service that has recently launched in Japan. After receiving an order from a customer, you go to the restaurant, pick up the items, and deliver them to the customer's home.
        .red Normally, foreign nationals cannot work for Rocket Now, but only applicants through our company are specially allowed to work for them.
        .row 
         .col-sm-6
           strong 
            | Unit Price:
         .col-sm-6
            | ¥500 per delivery (standard rate: 4 deliveries per hour)
            br/
            | For bicycle delivery, the unit price will be ¥425 per delivery.
        .row 
         .col-sm-6
           strong  
            | Rewards:
         .col-sm-6
          .red 
           |Days 1–3: 500 yen * 2.5 deliveries/hr * 9h = 11,250 yen
          .red 
           |Days 4–7: 500 yen * 3 deliveries/hr * 9h = 13,500 yen (Monthly 337,500 yen)
          .red 
           |After Day 7: 500 yen * 4 deliveries/hr * 9h = 18,000 yen (Monthly 450,000 yen)
        .row 
         .col-sm-6
           strong  
            | Payment:
         .col-sm-6
          p Standard: End of month cutoff, payment at the end of the following month
          .red 
           | Weekly: Work from Wed–Tue paid 2 weeks later
          .red 
           | *Subject to following assigned shifts and no operational errors
          .red
           | *System fee 800 yen
        .row 
         .col-sm-6
           strong  
            | Working Hours:
         .col-sm-6
          | Full-time: 11:00–21:00 (Break: 16:00–17:00)
          br/
          | Part-time: (A) 11:00–15:00 or (B) 17:00–21:00
          | *Min. 4 days/week for A or B; Min. 2 days/week for Full-time
        .row
         .col-sm-6
           strong  
            | Normal Working Days:
         .col-sm-6
          | 25 days per month
          br/
          | *Part-time work is also possible
        .row 
         .col-sm-6
           strong  
            | Contract Type:
         .col-sm-6
           | Outsourcing contract (No social insurance)
        .row 
         .col-sm-6
           strong  
            | Location:
         .col-sm-6
          | Tokyo, Kanagawa, Chiba, Saitama, Nagoya, Osaka, Kyoto, Kobe, Fukuoka, Sendai, Sapporo
        .row 
         .col-sm-6
           strong  
            | Eligible Visas:
           | Permanent Resident, Long-term Resident, Spouse Visa (and other visas without work restrictions)
        .row 
         .col-sm-6
           strong  
            | Vehicle:
         .col-sm-6
          | Motorized scooter rental (Bicycle delivery negotiable)
          br/
          .red 1,500 yen gasoline subsidy for full-time work
          .red We will introduce a scooter rental provider.
        .row 
         .col-sm-6
           strong  
            | Japanese Level:
         .col-sm-6
          | OK if you can communicate in daily conversation (No reading/writing required)
        .row 
         .col-sm-6
           strong  
            | Others:
         .col-sm-6
           br/
           | ・In regional areas, the unit price or number of deliveries may be lower than stated.
           br/
           | ・You can work outside 11:00~16:00 / 17:00~21:00, but the reward will be 400 yen.
        .row 
         .col-sm-6
           strong  
            | Caution:
         .col-sm-6
           | ・Salary reductions may occur for misdeliveries, order refusals during working hours, leaving the waiting location, or missing shifts.
           br/
           | ・If rules are violated, shifts may be cancelled and vehicle subsidies may stop.
           br/
           | ・The standard is 4 deliveries per hour, but delivery volume may be lower in regional areas.
           br
           | ・Working outside 11:00~16:00 / 17:00~21:00 is possible, but the reward is 400 yen.
           br/
           | ・Bicycle delivery is possible, but reward conditions will differ.
           
  .job-card
        h3 Amazon Delivery
        p This is a personal delivery job for Amazon. Since Amazon allows “置き配” (placing parcels at the door), you can deliver efficiently.
        .row 
         .col-sm-6
          p
           strong Daily Pay:
           | 15,500 yen〜18,500yen
         .col-sm-6
          p
          strong Position:
          | Light Cargo Driver
        .row 
         .col-sm-6
          p
           strong Working Hours:
           | 08:00~21:00
         .col-sm-6
          p
          strong Holidays:
          | Shift system (Two guaranteed days off per week)
        .row 
         .col-sm-6
          p
           strong Contract Type:
           | Outsourcing contract
         .col-sm-6
          p
          strong Location:
          | Funabashi City Hamacho, Misato City Inter-Minami
        .row 
         .col-sm-6
          p
           strong Training Period:
           | 1 month
         .col-sm-6
          p
          strong 
          | 
        .row 
         .col-sm-6
          p
           strong Available Visa:
           | Visa that allows working as a driver
         .col-sm-6
          p
          strong Required License:
          | Regular driver's license
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong       

  .job-card
    h3 Alcohol Delivery
    p This job mainly involves delivering alcoholic beverages. The job is similar to route delivery. Locations are Kawaguchi, Itabashi, and Shinkiba. Fixed daily pay ensures stability, and overtime is paid. Vehicle rental is also possible.
    .row
      .col-sm-6
        p
          strong Daily Pay:
          | 17,500 yen
      .col-sm-6
        p
          strong Position:
          | Light Cargo Driver
    .row
      .col-sm-6
        p
          strong Working Hours:
          | 09:00–18:00
      .col-sm-6
        p
          strong Holidays:
          | 6 days/m
    .row
      .col-sm-6
        p
          strong Contract Type:
          | Outsourcing Contract
      .col-sm-6
        p
          strong Location:
          | Kawaguchi-shi, Saitama
    .row
      .col-sm-6
        p
          strong Available Visa:
          | Full-time work eligibility required
      .col-sm-6
        p
          strong Required License:
          | Regular Driver's License
    .row
      .col-sm-6
        p
          strong Other:
          | 


  .job-card
        h3 Yamato / Sagawa / Japan Post
        p This is a parcel delivery driver job to individual homes. You will visit customers’ houses and deliver packages. The more deliveries you complete in a day, the more you can earn. (It is difficult at first, but once you get used to it, you can deliver around 150 to 200 packages per day.)
        .row 
         .col-sm-6
          p
           strong Compensation
           | 130 yen / per delivery (19,500 yen per day for 150 deliveries)
         .col-sm-6
          strong Position：
          | Light cargo delivery driver
        .row 
         .col-sm-6
          p
           strong Working hours：
           | 08:00~20:00
         .col-sm-6
          strong Days off：
          | 6 days off per month
        .row 
         .col-sm-6
          p
           strong Contract type：
           | Outsourcing contract
         .col-sm-6
          strong Work location：
          | Available nationwide
        .row 
         .col-sm-6
          p
           strong Eligible visas：
           | Permanent resident visa, long-term residence visa, spouse visa
         .col-sm-6
          strong Required license：
          | Regular driver’s license
        .row 
         .col-sm-6
          p
           strong Other：
           | ・Gasoline, vehicle cost (if you don't own a car), and insurance fees will be deducted from your earnings.
           br/
           | ・In rural areas, unit price and delivery volume may be lower than listed.
           br/
           | ・For Yamato, you will also handle Nekopos deliveries. (35–50 yen per delivery depending on area)
 


