br/
br/
.category-wrapper
  h2.headline = "Job Listings"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"
      

  .job-card
        h3 Yamato Delivery Driver
        p This is a delivery driver job for Yamato. You will visit customers’ homes and deliver packages. The more deliveries you complete in a day, the more you can earn. (Although it is difficult at first, once you get used to it, you can deliver around 150 to 200 packages per day.)
        .row 
         .col-sm-6
          p
           strong Salary
           | 375,000–500,000 yen
         .col-sm-6
          p
          strong Position:
          | Light cargo driver
        .row 
         .col-sm-6
          p
           strong Working hours:
           | 07:00–20:00 (finish once deliveries are completed)
         .col-sm-6
          p
          strong Holidays:
          | 6 days off per month
        .row 
         .col-sm-6
          p
           strong Contract type:
           | Subcontract agreement
         .col-sm-6
          p
          strong Work location:
          | Chiba Prefecture (Ibaraki Prefecture also available upon request)
        .row 
         .col-sm-6
          p
           strong Training period:
           | Ends once you can deliver 150 packages or more
         .col-sm-6
          p
          strong Training daily pay:
          | 10,000 yen
        .row 
         .col-sm-6
          p
           strong Eligible visas:
           | Permanent resident visa
         .col-sm-6
          p
          strong Required license:
          | Regular driver’s license
        .row 
         .col-sm-6
          p
           strong Other:
           | Gasoline and vehicle costs will be deducted from salary
           br/
           | Salary increases depending on average monthly deliveries: e.g., 150 deliveries = 375,000 yen, 200 deliveries = 500,000 yen
         .col-sm-6
          p
          strong 
          

  .job-card
        h3 Convenience Store Delivery
        p A route delivery job to deliver newspapers to convenience stores. Since you deliver to designated places, the work is easy to learn for anyone. Monthly salary varies depending on working hours.
        .row 
         .col-sm-6
          p
           strong Monthly salary:
           | 287,500–400,000 yen
         .col-sm-6
          p
          strong Position:
          | Light cargo driver
        .row 
         .col-sm-6
          p
           strong Working hours:
           | 01:30–06:30 / 11:30–15:30
         .col-sm-6
          p
          strong Holidays:
          | 6 days off per month
        .row 
         .col-sm-6
          p
           strong Contract type:
           | Subcontract agreement
         .col-sm-6
          p
          strong Work location:
          | Kawasaki, Kanagawa or Itabashi, Tokyo
        .row 
         .col-sm-6
          p
           strong Training period:
           | 3 months
         .col-sm-6
          p
          strong Training monthly pay:
           | 250,000 yen
        .row 
         .col-sm-6
          p
           strong Eligible visas:
           | Permanent resident, long-term resident, spouse, or student visa
         .col-sm-6
          p
          strong Required license:
          | Regular driver’s license
        .row 
         .col-sm-6
          p
           strong Other:
           | Gasoline and vehicle costs will be deducted from salary
           br/
           | By handling additional spot deliveries outside of the above hours, you can increase your earnings further.
         .col-sm-6
          p
          strong 


  .job-card
        h3 Amazon Delivery
        p This is a personal delivery job for Amazon. Since Amazon allows “leave-at-door” delivery, you can deliver packages efficiently.
        .row 
         .col-sm-6
          p
           strong Daily pay:
           | 17,000 yen
         .col-sm-6
          p
          strong Position:
          | Light cargo driver
        .row 
         .col-sm-6
          p
           strong Working hours:
           | 08:30–21:30
         .col-sm-6
          p
          strong Holidays:
           | 2 days off per week
        .row 
         .col-sm-6
          p
           strong Contract type:
           | Subcontract agreement
         .col-sm-6
          p
          strong Work location:
           | Tokyo
        .row 
         .col-sm-6
          p
           strong Training period:
           | 1 month
         .col-sm-6
          p
          strong Training daily pay:
           | 15,000 yen
        .row 
         .col-sm-6
          p
           strong Eligible visas:
           | Permanent resident visa
         .col-sm-6
          p
          strong Required license:
           | Regular driver’s license
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong       

  .job-card
        h3 Bicycle Delivery
        p You will deliver packages for companies using an electric bicycle. Mainly office supplies such as copy paper and stationery. No driver’s license is required, so it’s easy to start.
        .row 
         .col-sm-6
          p
           strong Daily pay:
           | 13,000 yen
         .col-sm-6
          p
          strong Position:
           | Light cargo driver
        .row 
         .col-sm-6
          p
           strong Working hours:
           | 07:00 or 07:30–19:30
         .col-sm-6
          p
          strong Holidays:
           | Saturdays, Sundays, and public holidays
        .row 
         .col-sm-6
          p
           strong Contract type:
           | Subcontract agreement
         .col-sm-6
          p
          strong Work location:
           | Nihonbashi, Chuo-ku, Tokyo
        .row 
         .col-sm-6
          p
           strong Training period:
           | 1 month
         .col-sm-6
          p
          strong Training daily pay:
           | 12,000 yen
        .row 
         .col-sm-6
          p
           strong Eligible visas:
           | Permanent resident (other visas negotiable)
         .col-sm-6
          p
          strong Required license:
           | None
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong 


  .job-card
        h3 Corporate Light Cargo Delivery
        p You will deliver packages for corporate clients in Tokyo. Although the pay is lower than personal delivery, working hours are shorter, making it easier to work. By combining spot deliveries after regular work, you can increase your earnings.
        .row 
         .col-sm-6
          p
           strong Daily pay:
           | 12,000–17,000 yen (depending on project)
         .col-sm-6
          p
          strong Position:
           | Light cargo driver
        .row 
         .col-sm-6
          p
           strong Working hours:
           | 8 hours per day
         .col-sm-6
          p
          strong Holidays:
           | Saturdays, Sundays, and public holidays
        .row 
         .col-sm-6
          p
           strong Contract type:
           | Subcontract agreement
         .col-sm-6
          p
          strong Work location:
           | Nihonbashi, Chuo-ku, Tokyo
        .row 
         .col-sm-6
          p
           strong Training period:
           | 1 month
         .col-sm-6
          p
          strong Training daily pay:
           | 11,000–16,000 yen
        .row 
         .col-sm-6
          p
           strong Eligible visas:
           | Permanent resident visa
         .col-sm-6
          p
          strong Required license:
           | Regular driver’s license
        .row 
         .col-sm-6
          p
           strong Other:
           | 
         .col-sm-6
          p
          strong 
