br/
br/
.category-wrapper
  h2.headline = "きゅうじんいちらん"
  = link_to "日本語", "/top/recruit", class:"btn btn-primary"
  = link_to "ひらがな", "/top/recruit_jp", class:"btn btn-primary"
  = link_to "ENGLISH", "/top/recruit_en", class:"btn btn-primary"
  = link_to "計算[Calculation]", "/top/calculation", class:"btn btn-primary"          

  .job-card
        h3 🍗🛵ろけっと なう ふーど でりばりー⭐️⭐️⭐️⭐️⭐️
        p にほん しんじょうりくの いま わだいの ふーど でりばりー さーびすです。おきゃくさまから ちゅうもんを うけたら れすとらんに むかい、しょうひんを うけとった あと、おきゃくさまの じたくまで にもつを とどけます。
        .red 【つうじょう ろけっと なうは がいこくじんの かたは はたらくことが できませんが、とうしゃから おもうしこみの ばあいのみ、とくべつに かどうを することが できます。】
        .row 
         .col-sm-6
          p
           strong たんか：
         .col-sm-6
           | 500えん/こ | 1じかんあたり 4こ はいそうが きほん
        .row 
         .col-sm-6
          p
          strong ほうしゅう：
         .col-sm-6
          .red 1~3にちめ：500えん* 1じかん 2.5こ* 9h=11,250えん
          .red 4~7にちめ：500えん* 1じかん 3こ* 9h=13,500えん(げっしゅう 337,500)
          .red 7にちめ〜：500えん* 1じかん 4こ* 9h=18,000えん(げっしゅう 450,000)
        .row 
         .col-sm-6
          p
          strong くんむ じかん：
         .col-sm-6
          | 【A】11:00~16:00 / 【B】17:00~21:00
          br/
          | ※Aのみや Bのみの くんむも かのう
        .row
         .col-sm-6
          p
          strong つうじょう くんむ にっすう：
         .col-sm-6
          | 25にち くんむ
          br/
          | ※ぱーとたいむも かのうです。
        .row 
         .col-sm-6
          p
           strong けいやく けいたい：
         .col-sm-6
           | ぎょうむ いたく けいやく
           br/
           | しゃかい ほけんは ありません。
        .row 
         .col-sm-6
          p
          strong くんむち：
         .col-sm-6
          | とうきょう・かながわ・ちば・さいたま・なごや・おおさか・きょうと・こうべ・ふくおか・せんだい・さっぽろ
        .row 
         .col-sm-6
          p
         .col-sm-6
           strong かどう かのうな びざ：
           | えいじゅう びざ・ていじゅう びざ・はいぐうしゃ びざ（そのほか せいりょくのない びざ）
        .row 
         .col-sm-6
          p
          strong しゃりょう・がそりん：
         .col-sm-6
          | げんつき ばいきの かしだし（じてんしゃ くんむ おうそうだん）
          br/
          .red ふるたいむで くんむで 3,000えんの がそりんだい ほじょ
          | ※じてんしゃ くんむ かのうですが、たんかは さがります。
        .row 
         .col-sm-6
          p
          strong にほんご れべる：
         .col-sm-6
          | こみゅにけーしょんが ふつうに とれればOK（よみかきなし）
        .row 
         .col-sm-6
          p
           strong そのた：
         .col-sm-6
           | ・げんつきだい および しょひようは きゅうりょうから さしひきされます。
           br/
           | ・ちほうの ばあい、はいそう たんかや はいそうすうが きさいより すくなくなる ばあいが あります。
           br/
           | ・11:00~16:00 / 17:00~21:00いがいも はたらくことは できますが、ほうしゅうは 400えんと なります。
        .row 
         .col-sm-6
          p
           strong ちゅういてん：
         .col-sm-6
           | ・ごはいそうや くんむ じかんないの おーだー きょひ、くんむ じかんに くんむ ばしょに いない、しふと けっきんが でる ばあい、げんきゅうに なります。
           br/
           | ・るーるを まもらない こういが はっせいした ばあい、しふとの とりけし および、しゃりょうの ほじょを ていし いたします。
           br/
           | ・きほんは 1じかん 4この はいそうと なりますが、ちほうの ばあい、はいそう こすうが すくなくなります。
           br
           | ・11:00~16:00 / 17:00~21:00いがいも はたらくことは できますが、ほうしゅうは 400えんと なります。
           br/
           | ・じてんしゃで くんむも かのうですが、ほうしゅう じょうけんが ことなります。

  .job-card
        h3 やまと/さがわ/にっぽんゆうびん
        p こじんたくへのたくはいどらいばーのおしごとです。おきゃくさまたくにほうもんし、にもつをとどけていただきます。1にちのはいそうすうがおおければかせぐことができます。（さいしょはむずかしいですが、なれたら1にち150こ〜200こほどはいそうできます。）
        .row 
         .col-sm-6
          p
           strong ほうしゅう
           | 130えん / こ（150はいそうで1にち19,500えん）
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつどらいばー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | 08:00~20:00くらい
         .col-sm-6
          p
          strong きゅうじつ：
          | つき6かいやすみ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | ぜんこくかくち
        .row 
         .col-sm-6
          p
           strong かどうかのうなびざ：
           | えいじゅうびざ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつうじどうしゃめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | ・がそりんだいとしゃりょうだい（くるまをもっていないばあい）、ほけんりょうはきゅうりょうからさしひかれます。
           br/
           | ・ちほうのばあい、はいそうたんかやはいそうすうがきさいよりすくなくなるばあいがあります。
           br/
           | ・やまとのばあい、べっとねこぽすのはいたつをけんようします。（えりあにより1はいそう35~50えんほど）
         .col-sm-6
          p
          strong 

          

  .job-card
        h3 Amazonはいそう
        p Amazonのこじんはいそうのおしごとです。Amazonではおきはいをおこなうことができるのでこうりつよくはいそうをおこなうことができます。
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | 15,500~18,500えん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつドライバー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | 08:00〜21:00
         .col-sm-6
          p
          strong きゅうじつ：
          | シフトせい（かんぜんしゅうきゅう2にち）
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | ふなばししはまちょう、みさとしいんたーみなみ
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | 1かげつ
         .col-sm-6
          p
          strong 
          | 
        .row 
         .col-sm-6
          p
           strong かどうかのうなビザ：
           | ドライバーとしてはたらけるビザ
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつううんてんめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | 
         .col-sm-6
          p
          strong       

  .job-card
        h3 じてんしゃはいそう
        p でんどうじてんしゃできぎょうのにもつのはいそうをおこなっていただきます。おもにコピーようしやぶんぼうぐのじむようひんをはこびます。じどうしゃめんきょふようなので、てがるにスタートができます。
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | 13,000えん
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつドライバー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | 07:00 または 07:30〜19:30
         .col-sm-6
          p
          strong きゅうじつ：
          | どにちしゅくじつ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | とうきょうとちゅうおうくにほんばし
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | 1かげつ
         .col-sm-6
          p
          strong けんしゅうにっきゅう：
          | 12,000えん
        .row 
         .col-sm-6
          p
           strong かどうかのうなビザ：
           | えいじゅうビザ・ほかのビザはそうだんおう
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | なし
        .row 
         .col-sm-6
          p
           strong そのた：
           | 
         .col-sm-6
          p
          strong 


  .job-card
        h3 おおてしょくひんがいしゃはいそう
        p とうないでしょくひんのにもつのはいそうをしていただきます。はいそうこすうは40〜60こくらいのため、にほんごがにがてなかたにもおすすめです。
        .row 
         .col-sm-6
          p
           strong にっきゅう：
           | 12,000えん〜13,000えん（あんけんによる）
         .col-sm-6
          p
          strong ぼしゅうしょくしゅ：
          | けいかもつドライバー
        .row 
         .col-sm-6
          p
           strong きんむじかん：
           | 06:30〜15:00 または 16:00
         .col-sm-6
          p
          strong きゅうじつ：
          | どにちしゅくじつ
        .row 
         .col-sm-6
          p
           strong けいやくけいたい：
           | ぎょうむいたくけいやく
         .col-sm-6
          p
          strong きんむち：
          | とうきょうとちゅうおうくにほんばし
        .row 
         .col-sm-6
          p
           strong けんしゅうきかん：
           | 1かげつ
         .col-sm-6
          p
          strong けんしゅうにっきゅう：
          | 11,000えん〜16,000えん
        .row 
         .col-sm-6
          p
           strong かどうかのうなビザ：
           | フルタイムではたらけるかた
         .col-sm-6
          p
          strong ひつようなめんきょ：
          | ふつううんてんめんきょ
        .row 
         .col-sm-6
          p
           strong そのた：
           | 
         .col-sm-6
          p
          strong 

.job-card
  h3 きぎょうはいそう
  p きぎょうはいそうがめいんのほうじんむけはいそうあんけんです。ごぜんびん・ごごびんでわかれており、にどつみこみをじっしします。ルートはいそうではありませんが、はいそうこすうがこじんよりすくないので1〜2かげつほどでなれていただけます。あきしまし、ちばし、おおたく、よこはまし、しんきば、きたくなどにコースがあります。
  .row
    .col-sm-6
      p
        strong にっきゅう：
        | 11,000〜12,000えん（ごぜんびん＋ごごびん）
    .col-sm-6
      p
        strong ぼしゅうしょくしゅ：
        | けいかもつドライバー
  .row
    .col-sm-6
      p
        strong きんむじかん：
        | 07:00〜16:00（さいだい17:00）
    .col-sm-6
      p
        strong きゅうじつ：
        | おうそうだん
  .row
    .col-sm-6
      p
        strong けいやくけいたい：
        | ぎょうむいたくけいやく
    .col-sm-6
      p
        strong きんむち：
        | あきしまし・ちばし・おおたく・よこはまし・しんきば・きたく
  .row
    .col-sm-6
      p
        strong けんしゅうきかん：
        | ひとにより1〜3かげつ
    .col-sm-6
      p
        strong けんしゅうにっきゅう：
        | どうじょうけん
  .row
    .col-sm-6
      p
        strong かどうかのうなビザ：
        | ドライバーではたらけるビザならOK
    .col-sm-6
      p
        strong ひつようなめんきょ：
        | ふつううんてんめんきょ
  .row
    .col-sm-6
      p
        strong そのた：
        | にほんごはとくいでなくともかいわができればOK

.job-card
  h3 しゅるいのきぎょうはいそう
  p しゅるいはいそうがちゅうしんのあんけんです。ルートはいそうにちかいイメージでかわぐち・いたばし・しんきばエリアがきんむちです。にっきゅうこていであんていし、ざんぎょうだいもしきゅうされます。しゃりょうかしだしもかのうです。
  .row
    .col-sm-6
      p
        strong にっきゅう：
        | 12,600えん
    .col-sm-6
      p
        strong ぼしゅうしょくしゅ：
        | けいかもつドライバー
  .row
    .col-sm-6
      p
        strong きんむじかん：
        | 08:00〜17:00（さいだい19:00）
    .col-sm-6
      p
        strong きゅうじつ：
        | にちようこてい＋きぼうきゅう1〜2にち
  .row
    .col-sm-6
      p
        strong けいやくけいたい：
        | ぎょうむいたくけいやく
    .col-sm-6
      p
        strong きんむち：
        | かわぐち・いたばし・しんきば
  .row
    .col-sm-6
      p
        strong けんしゅう：
        | よこのりけんしゅうあり
    .col-sm-6
      p
        strong しはらいサイト：
        | よくよくつき1にちばらい（こうしょうかのう）
  .row
    .col-sm-6
      p
        strong かどうかのうなビザ：
        | フルタイムではたらけるかた
    .col-sm-6
      p
        strong ひつようなめんきょ：
        | ふつううんてんめんきょ
  .row
    .col-sm-6
      p
        strong そのた：
        | 
