- set_meta_tags  title: '【0円採用】日本語の話せる国内転職層外国人を無料紹介'
- set_meta_tags  description: '【0円採用】日本語の話せる国内転職層外国人を無料紹介'
.back-image-index.back-image-top
  .row
    .col-sm-6
      = image_tag "base.webp", class: "pc-image"
      = image_tag "base.webp", class: "mobile-image"
    .col-sm-6
      h1.index-2
        | 国内で働く即戦力外国人を
        br
        | 最短即日
        span.red 無料
        | で人材紹介
        br
      .blue-2
        | 外国人転職
        span.red 【0円採用】
      = link_to 'https://j-work.jp/line', target: "_blank" do
        = image_tag 'line.webp', width: '100%', class: 'center', alt: "自動販売機の一括見積もり『自動販売機ねっと』をご利用ならこちらをクリック。簡単60秒で無料で自動販売機を一括比較見積もり"

br
hr.line
br

br
hr.line
br

  /# push font
h2.push
     span
       span.red『0円採用』
       | で採用コスト削減
       br
       | 質の高い外国人材をご提案
br
hr.line
br

.top-wrapper
  h2.heading
    strong
     | まずは実際の採用のお声をどうぞ！
br/
.row
 .col-sm-6
   table.review
     col[width="30%"]
     col[width="70%"]
     tbody
       tr
         th.title[colspan="2"]
          .center
           | 栃木県：食品工場（6名採用）
       tr
         th
           = image_tag "review2.webp", width:"100%";
         td
           | 『0円採用』をインターネットで知り利用してみました。最初は正直怪しいと思いましたが、利用してみると掲載費用も成果報酬も一切発生しませんでした。日本語の話せる外国人ばかりだったので６名一気に採用が叶いました。
 .col-sm-6
   table.review
     col[width="30%"]
     col[width="70%"]
     tbody
       tr
         th.title[colspan="2"]
          .center
           | 北海道：介護事業者（２名採用）
       tr
         th
           = image_tag "review3.webp", width:"100%";
         td
           | 知人の会社が『0円採用』を利用して採用を行ったと聞き、利用してみました。既に当社は外国人の受け入れ体制ができていたのでスムーズに採用できたのと、もう一点素晴らしかったのは既に介護での就業実績が２年間ある外国人でしたので、即戦力として活躍してくれました。
br/
.row
 .col-sm-6
   table.review
     col[width="30%"]
     col[width="70%"]
     tbody
       tr
         th.title[colspan="2"]
          .center
           | 東京都：飲食店（３０名採用）
       tr
         th
           = image_tag "review4.webp", width:"100%";
         td
           | 『0円採用』のサービスを活用して人材募集を行いましたが、最初の１ヶ月で２０名の採用決定を行うことができました。紹介スピードがとても早いながらも皆日本語でやりとりが出来、半分以上が飲食店経験者でした。現在も定期的に依頼をさせていただいています。
 .col-sm-6
   table.review
     col[width="30%"]
     col[width="70%"]
     tbody
       tr
         th.title[colspan="2"]
          .center
           | 兵庫県：貿易（４名採用）
       tr
         th
           = image_tag "review1.webp", width:"100%";
         td
           | 『0円採用』で外国人の採用を４名行いました。当社の事業では特定技能ビザの受け入れが難しかったのですが、永住ビザ・技術人文国際ビザを中心に１０名ほど紹介していただき、採用に至りました。特定技能ビザ以外でも0円料金の提案をしてもらい大変満足しました。
br/

br
hr.line
br


/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br


/# USP Point
.top-wrapper
  h2.heading
    | どうして
    strong
     | 無料で採用できるの？
  h6.heading
    br
    | 『0円採用』J Workは、自社で独自の人材データベースを運営しております。通常の人材紹介会社のように、他社の人材データベースを借りて運営していないため無料で人材の提供が可能です。
  br/
.row.center
    .col-sm-12
      =image_tag 'zero2.webp', class: 'center entire-image'

br
hr.line
br

/# Trouble
.top-wrapper
  h2.heading
    | じゃあどこに
    strong
     | 費用が発生するの？
  h6.heading
    br
    | 外国人を採用する場合、採用する企業は外国人の支援を行う団体『登録支援機関』との提携を国が義務としています。当社はこの支援業務で収益を頂いています。
  br/
.row.center
    .col-sm-12
      =image_tag 'zero3.webp', class: 'center entire-image'

br
hr.line
br

  /# push font
h2.push
     span
       | 支援費用は外国人採用で必須
       br
       | 国の手続きに則ったものです
br
hr.line
br


/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br


.top-wrapper
  h2.heading
    strong
      | こんな仕事の経験者が
    | 多く登録しています！
  h6.heading
    br
    | 即戦力外国人転職『0円採用』で転職希望の依頼が多い業種についてご紹介しております。以下の業種以外にも幅広い応募がございます。
  br
  br
.row
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 介護
      = image_tag "work-1.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 食品加工
      = image_tag "work-3.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p エンジニア
      = image_tag "work-5.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 工場全般
      = image_tag "work-2.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p ホテル受付
      = image_tag "work-6.jpg", class: 'block-image'
  .col-6.col-sm-4.text-center.center-on-mobile
    .border2
      p 通訳
      = image_tag "work-7.jpg", class: 'block-image'


br
hr.line
br

  /# push font
  h2.push
     span
       | 他にも様々な人材が登録中
       br
       | 必要な人材をご相談ください

br
hr.line
br
/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br

  /# push font
  h2.push
     span
       | 無料なだけではありません
       br
       | 高品質な外国人の質を確保

br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 毎月300~500名登録!
    | 多くの人材にアプローチ
  h6.heading
    br
    |『0円採用』J Workなら毎月300~500名の登録があるので、御社にピッタリの人材が高確率で見つかります。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner10.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    | 国内転職人材だから
    strong
      |日本語能力問題なし
  h6.heading
    br
    | 外国人は特定の業種で働くビザで日本に在住するため、同業種の転職が一般的。そのため既に業務経験のある即戦力の人材を確保できます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner11.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 同一業種転職で即戦力人材
    | が多い！
  h6.heading
    br
    | 外国人は特定の業種で働くビザで日本に在住するため、同業種の転職が一般的。そのため既に業務経験のある即戦力の人材を確保できます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign4.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 日常生活サポートは
    | 最小限でOK！
  h6.heading
    br
    | 通常の登録支援機関から外国人を受け入れる場合、空港送迎や生活サポートと想像以上の労力が発生しますが、J Work人材は既に日本で生活歴があるためサポートが最小限で済みます。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner12.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br


.top-wrapper
  h2.heading
      | 前職退職後
      strong
       | 最短即日勤務OK！
  h6.heading
    br
    | 『0円採用』J Workの人材は全て国内転職層のため、前職退職後最短で即日の勤務が可能です。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreign5.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br

.top-wrapper
  h2.heading
    | 転居可能な人材比率が
    strong
     | 驚異の70~80%!!
  h6.heading
    br
    | 『0円採用』J Workの人材は、多くの人材が転職の際、転居可能であること。そのため地方の企業様でも採用確率が非常に高いです。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner14.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

br
hr.line
br

.top-wrapper
  h2.heading
    | 永住ビザ・技人国ビザも
    strong
     | ご相談ください！
  h6.heading
    br
    | 特定技能外国人は雇用できない。。。そんな方でも大丈夫！永住ビザの資格を保有している人材であれば採用人数制限はなく、またお仕事内容によっては技人国ビザのご紹介も可能です。
  br/
.row.center
    .col-sm-12
      =image_tag 'foreigner13.webp', class: 'center entire-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


.top-wrapper
  h2.heading
    strong
      | 料金案内
  br
  br
  h6.heading
    | 以下では、即戦力外国人材国内転職『0円』のご利用料金をご案内しております。
  br/
  table.company.center
     tr
      th.arrow-box-cell サイト登録費
      td.responsive-cell.red 完全無料
     tr
      th.arrow-box-cell 面接費用
      td.responsive-cell.red 完全無料
     tr
      th.arrow-box-cell 採用成功報酬
      td.responsive-cell.red 完全無料
     tr
      th.arrow-box-cell 登録支援料
      td.responsive-cell.red 月36,500円
br
hr.line
br

.top-wrapper
  h2.heading
    strong
      | 『0円採用』
    | のよくある質問
  br
  br
  h6.heading
    | 即戦力外国人材国内転職『0円採用』でよくある質問の一覧を掲載しております。

.cp_qa
    .cp_actab.left
      input#cp_tabfour028[type="checkbox" name="tabs"]
      label[for="cp_tabfour028"]
        h4 日本語はどの程度話せる人材でしょうか？
      .cp_actab-content
        p
          | 前提として人材に差はありますが、日本でお仕事をされている方ばかりではあるので、日本語検定以上の日本語レベルがある方が多いです。弊社でもレベル確認の目的より、外国人材には日本語のみでの対応を行っており、会話が成り立たない人材についてはサービス提供をお断りしており、当社サイトには登録しておりません。
    .cp_actab.left
      input#cp_tabfour029[type="checkbox" name="tabs"]
      label[for="cp_tabfour029"]
        h4 今既に登録支援機関と付き合いがあるんだけど？
      .cp_actab-content
        p
          | 登録支援機関は基本的に『外国人人材単位』での契約となっております。そのため外国人人材が複数名在籍している場合、登録支援機関も複数取引する形となります。但し、既に取引のある登録支援機関をご紹介いただき、折り合いがつけば、現行登録支援機関に内容を引き継ぐことが可能となります。
    .cp_actab.left
      input#cp_tabfour031[type="checkbox" name="tabs"]
      label[for="cp_tabfour031"]
        h4 採用決定したが、やはり採用を取り消したい
      .cp_actab-content
        p
          | 恐れ入りますが、採用決定した後は、既に前職の勤務先より在留管理局に退職手続きを進めております。多くの場合、社宅の解約等も決まってしまっており、最悪外国人が帰国せざるを得ない環境に陥るため、お受け致しかねます。


br
hr.line
br
br
br

/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
br
hr.line
br
br

.top-wrapper
  h2.heading
    strong
      | 『0円採用』
    | 導入フロー
  br
  h6.heading
    | 即戦力外国人転職『0円採用』をご利用頂く際の導入フローをご案内いたします。
br
ul.flow.center
  li
    dl
      dt
        span.icon
          | STEP.01
        | 無料登録
      dd.center
        | まずは下記無料登録へお進みください。企業情報を登録頂くだけで、登録人材情報の閲覧を頂けます。
        br
        | 人材情報については、リアルタイムで更新されますので、日々チェック頂くことで理想の人材とマッチ可能です。
  li
    dl
      dt
        span.icon
          | STEP.02
        | 無料面接開始
      dd.center
        | 良い人材がおりましたら、サイト上より面接打診を行うことができます。
        br
        | 求職者が興味を示せば、日程調整を行なった上で、面接実施となります。
  li
    dl
      dt
        span.icon
          | STEP.03
        | 採用・前職の退職手続き
      dd.center
        | 良い人材は早めに採用が決まってしまう傾向があるため、興味を持った場合は迅速に採用通知を行います。
        br/
        | 採用通知を受けた後、前職での退職手続きと日取りの決定を行います。
  li
    dl
      dt
        span.icon
          | STEP.04
        | 勤務開始
      dd.center
        | STEP.03が終了後、御社で働くための手続きを在留管理局に提出し
        br
        | 承認が得られ次第、勤務開始可能となります。

br
br
hr.line
br

/# push font
h2.push
   span
     | お気軽に相談してください。
     br
     | 登録〜面接まで完全無料でご利用頂けます！
br
hr.line
br


/# inquiry image
.row
  .col-sm-6.center
    =link_to "https://j-work.jp/line", :target=>["_blank"]   do
      = image_tag 'line.webp', class: 'responsive-line center'
  .col-sm-6.center
    =link_to "https://j-work.jp/clients/new", :target=>["_blank"]   do
      = image_tag 'click5.webp', class: 'responsive-line center'
