.tops-wrapper
 h2.headline アクセスログ一覧

table.list
  thead
    tr
      th 流入元
      th クエリ
      th アクセス日時
  tbody
    - @logs.each do |log|
      tr
        td= log.path
        td= log.source
        td= log.accessed_at.strftime('%Y-%m-%d %H:%M:%S')