br/
- if @partner.agree.blank?
 .tops-wrapper
  h2.headline
    | 契約同意へお進みください。
  .actions_container style="text-align: center; margin-bottom: 30px;"
    = link_to "契約へ進む", conclusion_partner_path(@partner), class: "btn btn-primary"

.tops-wrapper
  h2.headline
    | 加盟店アカウント情報
  br
  table.company
      tr
        td.label-cell
          | ログインアドレス
        td
          = @partner.email
      tr
        td.label-cell
          | パスワード
        td
          | *********
  br/
  br/
  = link_to '編集する', edit_partner_registration_path, class: 'btn btn-primary'
  = link_to "ログアウト", destroy_partner_session_path, method: :delete, class:"btn btn-danger"
  


h2.headline 
  | 求人申込内容の確認 
= link_to "編集", edit_partner_path(@partner), class: "btn btn-primary"

table.company
  tbody
    tr
      td.label-cell 会社名
      td= @partner.company

    tr
      td.label-cell 代表取締役
      td= @partner.post_title

    tr
      td.label-cell 代表者
      td= @partner.representative_name

    tr
      td.label-cell 担当者（同一の場合入力不要）
      td= @partner.contact_name

    tr
      td.label-cell 携帯番号
      td= @partner.tel

    tr
      td.label-cell 勤務所在地
      td= @partner.address

    tr
      td.label-cell 企業URL
      td= @partner.url

    tr
      td.label-cell ログインアドレス
      td= @partner.email

    / パスワード・確認パスワードはセキュリティのため非表示

h2.headline
  | ヒアリング情報

table.company
  tbody
    tr
      td.label-cell 毎月の人材紹介数
      td= @partner.question_people

    tr
      td.label-cell 主な取引先の集客方法
      td= @partner.question_attractive

    tr
      td.label-cell 想定される月間の人材照会打診数
      td= @partner.question_prediction

    tr
      td.label-cell 解決したい課題
      td= simple_format(@partner.message)


h2.headline 契約情報
table.company
       tr
        td
          strong.label 必須
        td
          |役職
        td
          = @partner.post_title
       tr
        td
          strong.label 必須
        td
          |代表者名
        td
          = @partner.representative_name
       tr
        td
          strong.label 必須
        td
          |契約の同意
        td
          = @partner.agree
       tr
        td
          strong.partner 必須
        td
          |契約日
        td
         - if @partner.contract_date.present?
            = Date.parse(@partner.contract_date).strftime("%Y年%m月%d日")

h2.headline 重要事項
table.company.responsive-table
  colgroup
  col.col-1
  col.col-2
  col.col-3
  tr
    td.label-cell
      strong.label 必須
    td.arrow-box-cell
      | 取引連絡は基本LINEアカウントのみとなっております。
    - if @partner[:agree_1] == "同意しました" ? "同意しました" : "未同意"
     td.label-cell
      = @partner.agree_1
  tr
    td.label-cell
      strong.label 必須
    td.arrow-box-cell
      | 本サービスは無料プランからご利用頂けますが、ご紹介後にレスポンスがない等、誠実な取引が難しいと判断する場合、取引を辞退させて頂く場合がございます。
    - if @partner[:agree_2] == "同意しました" ? "同意しました" : "未同意"
     td.label-cell
      = @partner.agree_2
  tr
    td.label-cell
      strong.label 必須
    td.arrow-box-cell
      | 複合検索条件が厳しく登録人材が見つからないと想定される場合、案件単位でご紹介を中断させて頂く場合がございます。
    - if @partner[:agree_4] == "同意しました" ? "同意しました" : "未同意"
     td.label-cell
      = @partner.agree_4
  tr
    td.label-cell
      strong.label 必須
    td.arrow-box-cell
      | 紹介人材の参照を行う前提条件として、『企業との契約及び求人が明確に確認可能な場合』に限ります。企業契約がないにも関わらず、ご紹介の参照依頼はできかねます。
    - if @partner[:agree_5] == "同意しました" ? "同意しました" : "未同意"
     td.label-cell
      = @partner.agree_5


- if admin_signed_in?
 = link_to "削除する", partner_path(@partner), class: "btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' }, style: "margin-left: 10px;"
 = link_to "一覧に戻る", partners_path, class: "btn btn-default"

 /= form_for [@partner, @partner.comments.build] do |f|
  /table.company[width="100%"]
    col[width="25%"]
    col[width="25%"]
    col[width="25%"]
    tbody
      tr
        th
          | ステータス
        th
          | 次回営業日
        th
          | コメント
      tr
        td
          = f.select(:status, [\
            ["商談","商談"],\
            ["見込低","見込低"],\
            ["見込中","見込中"],\
            ["見込高","見込高"],\
            ["契約","契約"],\
            ["NG","NG"]], include_blank: "選択してください")     
        td
          = f.datetime_field :next
        td
          = f.text_area :body
      tr
        th[colspan="3"]
         .center
          = f.submit "登録する", class:"btn btn-primary"
        small 商談ステータスを入れる場合は商談日を入力。不在の場合、ステータスは以前のステータスにし、不在にチェックを入れる

 /table.company[width="100%"]
  //- if @partner.comments.any?
    tbody
     - @partner.comments.each do |comment|
       tr
        td
          = comment.status
        td
          = comment.next
        td
          = comment.body
        td
          = link_to "編集", edit_partner_comments_path(@partner, comment), target: "_blank"

- if user_signed_in?  # ユーザーがサインインしている場合
  = link_to "#{@partner.company}に取引打診", new_partner_offer_path(@partner, user_id: current_user.id), class: "btn btn-primary"
