- set_meta_tags noindex: true
.tops-wrapper

  h2.headline
    | 求人申込フォーム
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    table.company
      colgroup

      tbody
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 会社名
          td.responsive-cell
            .input-container
              = f.text_field :company, placeholder: "株式会社ABC"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 代表取締役
          td.responsive-cell
            .input-container
              = f.text_field :post_title, placeholder: "代表取締役"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 代表者
          td.responsive-cell
            .input-container
              = f.text_field :representative_name, placeholder: "山田　太郎"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 担当者（同一の場合入力不要）
          td.responsive-cell
            .input-container
              = f.text_field :contact_name, placeholder: "鈴木　次郎"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 携帯番号
          td.responsive-cell
            .input-container
              = f.text_field :tel, placeholder: "080-0000-0000"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 勤務所在地
          td.responsive-cell
            .input-container
              = f.text_field :address, placeholder: "東京都東京市東京町1-1-1"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 企業URL
          td.responsive-cell
            .input-container
              = f.text_field :url, placeholder: "https://abc.com"

      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | ログインアドレス
        td.responsive-cell
         .input-container
          = f.email_field :email, autocomplete: "email"
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | パスワード
        td.responsive-cell
         .input-container
          - if @minimum_password_length
            em
              | (
              = @minimum_password_length
              |  characters minimum)
          = f.password_field :password, autocomplete: "off"
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | パスワード
        td.responsive-cell
         .input-container
          = f.password_field :password_confirmation, autocomplete: "off"


    h2.headline
     | ヒアリングフォーム
    table.company
      colgroup
        / 自社入力
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 御社での毎月の人材紹介数を記載してください。
          td.responsive-cell
            .input-container
              = f.select :question_people, ['０名', '１〜２名', '３〜５名', '６〜１０名', '１１〜２０名', '２０名以上'], { prompt: '選択してください' }, class: 'form-control'

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 主な取引先の集客方法を教えてください。
          td.responsive-cell
            .input-container
              = f.text_field :question_attractive, placeholder: "テレアポ集客・広告集客・既存のみ等"

        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 当社を利用頂く場合、想定される月間の人材照会をしたい打診数を選択してください。
          td.responsive-cell
            .input-container
              = f.select :question_prediction, ['０名', '１〜２名', '３〜５名', '６〜１０名', '１１〜２０名', '２０名以上'], { prompt: '選択してください' }, class: 'form-control'

    table.company
      colgroup
        tr
          td.arrow-box-cell
            | 本サービスを通じて、どのような課題を解決できれば良いとお考えでしょうか？
        tr 
          td.responsive-cell
            .input-container
              = f.text_area :message, rows: 3


    table.company
      tr
        td[colspan="3"]
          = f.submit "登録", class: "btn btn-primary", data: { confirm: "送信してもよろしいですか？" }

