
 .contract-wrapper  
  br/
  h2.headline 清掃・施設業務委託契約書
  br

  .text 株式会社J Work（以下、「甲」という。）と#{@user.name}（以下、「乙」という。）は、甲が指定する施設の清掃・施設業務（以下、「委託業務」という。詳細は第2条に定める）の委託にあたり、以下のとおり清掃・施設業務委託契約（以下、「本契約」という。）を締結する。

  h3.headline 第1条（総則）
  .text 1. 甲は、本契約に定めるところに従い、委託業務を乙に委託し、乙はこれを受託する。  
  .text 2. 本契約に定める業務委託は、準委任契約とする。

  h3.headline 第2条（委託業務）
  .text (1) 委託期間 契約開始日から1年間とする。ただし、委託期間満了の3か月前までにいずれの当事者からも委託終了の意思表示がなされない限り、委託期間はさらに1年間自動更新されるものとし、以後も同様とする。
  .text (2) 委託業務内容 甲が指定する施設、建物または場所において、甲の指示に従い清掃・施設業務を行うものとし、これに付随する業務（以下、「付随業務」という）を含む。具体的な業務範囲、内容、方法、実施場所等については甲の指示に従う。
  .text (3) 善管注意義務 乙は、委託業務の遂行にあたり、対象となる施設、設備、備品等の取扱いについて、善良なる管理者の注意をもって誠実に対応するものとする。
  .text (4) 遂行状況の報告 乙は、甲からの求めに応じて委託業務の遂行状況を都度報告するものとする。
  .text (5) 委託業務の変更 委託業務を変更する場合は、事前に相手方と協議の上、書面によって変更を合意するものとする。
  .text (6) 作業環境等による変更 乙は、当日の作業環境、施設の利用状況その他やむを得ない事情により、甲が指定した日時または作業内容の変更が必要であると判断したときは、あらかじめ甲もしくは配属先と合意したうえで、合理的な範囲でこれを変更することができる。

  h3.headline 第3条（委託料の支払い）
  .text 1. 甲は乙に対して、委託業務を完了したことの対価として、別途提示する料金表に記載の委託料を支払うものとする。
  .text 2. 前項の委託料が、案件の変更、経済情勢の変動、燃料の高騰、公租公課の変更、その他の事由により不相当となった場合には、甲は、改定の1か月前に乙にその旨を提示することにより、当該委託料を改定することができる。ただし、甲の発注先の指示による場所の変更が生じる場合には、前段の定めは適用しない。
  .text 3. 乙は、当月に完了した発注書に記載の個々の委託業務については、乙の実績に基づき、翌月末日までに乙が指定する銀行口座への振込によって委託料を支払うものとする。なお、振込手数料は甲の負担とする。ただし、発注書に特段の定めがある場合にはこれに従う。

  h3.headline 第4条（委託料に関する特則）
  .text 1. 前条に定める委託料には、委託業務にかかる一切の報酬に加え、事前の取り決めに応じた交通費を含めて支払うものとする。

  h3.headline 第5条（出退勤）
  .text 1. 乙は、甲の業務を遂行するにあたり、遅刻及び早退・当日欠勤は行わないものとする。
  .text 2. 乙は、当日の遅刻が発生する場合、必ず事前に甲及び当日の業務管理者に対して申告を行うものとする。
  .text 3. 乙は、当日の早退が発生する場合、必ず当日の業務管理者に対して申告を行うものとするし、事後1時間以内に詳細の内容を甲に報告するものとする。
  .text 4. 乙は、代替不可能である欠勤を行なってはならない。万一発生した場合、該当日の受け取る予定であった報酬の100%を報酬支払日から差し引くものとする。

  h3.headline 第6条（関係法令）
  .text 1. 乙は、委託業務の遂行にあたっては、労働安全衛生法、廃棄物処理法をはじめ、自らに適用のある関連する諸法令・諸規則を遵守し、これに従わなければならないものとする。
  .text 2. 仮に乙による委託業務の遂行にあたって諸法令・諸規則に違反したことが判明し、発注先やその他から迷惑金を請求された場合、乙はそれを支払うものとする。

  h3.headline 第7条（営業秘密）
  .text 1. 甲及び乙は、委託業務に関して知りえた相手方の営業秘密を善良なる管理者としての注意義務をもって管理するものとし、事前に相手方の書面による同意を得た場合を除き、営業秘密を第三者に漏洩し又は開示してはならず、また、委託業務以外の用途に使用してはならないものとする。ただし、次の各号に該当するものは営業秘密にあたらないものとする。
  .text (1) 相手方から知得する以前に既に所有していたもの
  .text (2) 相手方から知得する以前に既に公知となっていたもの
  .text (3) 相手方から知得した後に、自己の責に帰し得ない理由により公知となったもの
  .text (4) 正当な権限を有する第三者から守秘義務を伴わずに適法に知得したもの
  .text (5) 相手方の営業秘密を使用することなく自ら開発若しくは取得したもの
  .text 2. 前項の定めにかかわらず、甲または乙は、法令、政府機関または司法機関の命令により開示が要求された営業秘密を、その要求された目的及び必要の範囲に限り開示することができる。ただし、緊急若しくはやむを得ない場合を除き、その開示に先立って相手方に対して通知するものとする。
  .text 3. 甲及び乙は、本契約の終了後に相手方の要請を受けた場合、それまでに相手方から入手した一切の営業秘密（これが記録された紙面などの有形物、電磁的データなどの無形物を含む）を返還又は廃棄するものとする。
  .text 4. 前項の場合において、複製・複写・電子化された営業秘密がある場合には、受領当事者の責任により複製・複写・電子化された営業秘密を廃棄するものとする。
  .text 5. 甲および乙は、委託業務及び本契約の内容や存在についても、営業秘密と同等に取り扱うものとする。

  h3.headline 第8条（損害賠償）
  .text 1. 甲及び乙は、相手方が本契約に違反したことによって、または、本契約に要求される義務を履行しなかったことによって損害を被った場合には、その被った損害（民法第416条各項に定める範囲とする）を、本契約の委託料相当額を上限として賠償することを相手方に求めることができる。ただし、相手方の故意または重過失に起因する場合、および、前条違反の場合については、当該上限の定めを適用しないものとする。
  .text 2. 前項に関わらず、甲が第5条に定める事前告知を行わなかった場合には、甲は、故意過失の有無を問わずそれにより乙が被った損害を賠償するものとする。

  h3.headline 第9条（契約の解除）
  .text 1. 甲及び乙は、相手方が本契約に違反し、その是正を書面で催告したにもかかわらず、7日以内にその違反が是正されなかった場合には、その後何らの催告手続きも要せずに本契約を解除できるものとする。
  .text 2. 乙は甲との契約解除を行う場合、業務契約解除の45日前までに甲に申告を行い許可を得るものとする。
  .text 3. 万一1を下回る期間で乙が一方的に退職を行なった場合、配送不能における迷惑料として、報酬の一部もしくは全額の支払いを行わない場合がある。
  .text 4. 会社からの備品がある場合、必ず返却を行うものとし、甲が乙との連絡を取ることができず、退職から3日以内に返却が確認できない場合、報酬の一部もしくは全額の支払いを行わない場合がある。
  .text 5. 甲は乙が配属された企業先からの解除を言い渡された場合、速やかに乙に通知し、甲は他の配属先を手配することに努めるものとする。但し、乙が著しく業務量が少ない場合や、勤務における怠慢があると判断される場合、契約を解除することができる。尚、配属先から契約解除をされた場合、それ以降の報酬は保証されないものとする。
  .text 6. 甲及び乙は、相手方に次の各号に該当する事由のいずれかが生じた場合には、何らの通知または催告を要せずに本契約を解除できるものとする。
  .text (1) 監督官庁より営業停止、営業免許もしくは営業登録の取消処分を受けたとき
  .text (2) その財産について仮差押え、仮処分、差押え、強制執行、担保権の実行としての競売等の申立て、または破産、民事再生、会社更生、会社整理の申立てがあったとき、もしくは清算手続に入ったとき
  .text (3) 手形または小切手の不渡り処分を受けたとき、または銀行取引停止処分を受けたとき
  .text (4) 支払停止または支払不能の事由を生じたとき
  .text (5) 前各号に準ずる経営を著しく困難とする事項が生じたとき
  .text 7. 前二項の定めにより本契約が解除された場合、解除した当事者は、これによって生じた損害の賠償を相手方に請求することができるものとする。なお、この場合の損害賠償の諸条件は前条に従う。

  h3.headline 第10条（権利義務の譲渡の禁止）
  .text 甲及び乙は、事前の書面による相手方の承諾を得ることなく、本契約上の地位又はこれに基づく権利及び義務の全部又は一部を第三者に譲渡その他の処分をしてはならないものとする。

  h3.headline 第11条（反社会的勢力の排除）
  .text 1. 甲及び乙は、次の各号に定める事項について、相手方に対して、表明・保証するとともに、その故意・過失を問わずかかるこれに違反した場合には、本契約に基づく取引が停止されることがあり得ることを異議なく承諾する。本契約の定めにかかわらず、かかる取引停止によって生じた一切の損害は、本条の表明・保証に違反した当事者が賠償しなければならないものとする。
  .text (1) 自ら（その役員及び従業員を含む）が、暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等、テロリスト等、日本政府又は外国政府が経済制裁・資産凍結等の対象として指定する者、その他の反社会的勢力のいずれでもなく、また、将来においてもこれに該当しないこと。
  .text (2) 自らが、反社会的勢力が経営を支配、又は経営に実質的に関与している法人等ではないこと。
  .text (3) 自らが反社会的勢力を利用していないこと。
  .text (4) 自らが反社会的勢力に対して資金等を提供し、又は便宜を供与するなどの関与をしていると認められる関係を有していないこと。
  .text (5) 役員または経営に実質的に関与している者が反社会的勢力と社会的に非難されるべき関係を有していないこと。
  .text (6) 自ら又は第三者を利用して、不当な要求行為、詐術、暴力的行為、又は脅迫的言動を用いる行為、偽計又は威力を用いて業務を妨害し又は信用を毀損する行為等を行わないこと。
  .text (7) 前各号に準ずる状態となり、又は準ずる行為をすること。
  .text 2. 乙は、委託業務を第三者に委託する場合には、その第三者が前項各号に該当しないことを表明・保証する。

  h3.headline 第12条（協議）
  .text 本契約に定めのない事項及び疑義を生じた事項については、その都度、甲乙協議の上これを決定するものとする。

  h3.headline 第13条（準拠法）
  .text 本契約の準拠法は日本法とする。本契約に関し、甲乙間の紛争については、東京簡易裁判所を第一審の専属的合意管轄裁判所とする。

 
