- set_meta_tags  title: '軽貨物ドライバーになるために'
- set_meta_tags  description: '軽貨物ドライバーになるために'
= render 'shared/step_indicator'
.jwork-section
  h2.jwork-headline 
    | 経費について
    br/
    | About expenses
  p 軽貨物をはじめるにあたり、荷物を運ぶために軽バンの車が必要となります。軽バン車は当社提携会社よりレンタルを行っていただくことができます。
  p To start light cargo work, you need a light van to carry packages. You can rent a light van through our partner company.
  br/
  .red 
   |⇩⇩音声を再生してください⇩⇩
   br/
   |Please play the audio
  = audio_tag '/yamato.mp3', controls: true
  .row.center
    .col-sm-4
        .jwork-example-box
          h3 
           | 軽貨物車両
           br/
           | Light cargo vehicle
          = image_tag "policy4.webp", class:"image"
          br/
          h4.red 
           | 月35,000~40,000円
          p 車両がない場合、車両を購入するか、もしくはレンタルを行っていただきます。-If you do not own a vehicle, you will need to purchase one or rent one.-
    .col-sm-4
        .jwork-example-box
          h3 
           | ガソリン代
           br/
           | Gasoline cost
          = image_tag "policy5.webp", class:"image"
          br/
          h4.red 月30,000円くらい
          p 毎月のガソリン実費がかかります。ガソリン代は走行方法や車種・走行距離によって変動します。 -You must pay the actual gasoline cost every month. The amount varies depending on driving style, vehicle type, and driving distance.-
    .col-sm-4
        .jwork-example-box
          h3 
           | 任意保険
           br/
           | Voluntary insurance
          = image_tag "policy6.webp", class:"image"
          br/
          h4.red 月5,000~15,000円くらい
          p 業務で車を走行するにあたり必要な任意保険に加入いただきます。-You are required to enroll in voluntary insurance in order to use the vehicle for work.-



.container
  .calculator
    h2 
     |報酬自動計算ツール
     small（※個人配送モデル）


    .form-group
      label 配送(はいそう)[Delivery] 単価(たんか)[Unit Price]（円[JPY]）
      small エリアによって変動あり 
      input#unit_price.form-control type="number" value="130"

    .form-group
      label 配送(はいそう)[Delivery] 個数(こすう)[Quantity]
      small 慣れている人の目安
      input#quantity.form-control type="number" value="150"
    .form-group
      label 日数(にっすう)[Days]
      input#days.form-control type="number" value="25"

    h3 経費(けいひ)[Expenses]
    .form-group
      label 車レンタル代(しゃレンタルだい)[Car Rental]（円[JPY]）
      small おおよそ35,000~40,000円でエリアや空き状況による
      input#rental.form-control type="number" value="35000"
    .form-group
      label ガソリン代(ガソリンだい)[Gasoline]（円[JPY]）
      small 稼働時間や運転の仕方による（地方は移動が長く高くなります。）
      input#gas.form-control type="number" value="30000"
    .form-group
      label 保険代(ほけんだい)[Insurance]（円[JPY]）
      small 年齢や事故歴・保険加入歴により5,000~20,000
      input#insurance.form-control type="number" value="10000"

    .result-box
      p
        strong 収益(しゅうえき)[Profit]：
        span#net_income.highlight 0
        | 円[JPY]

script
  |
    $(document).on('turbolinks:load', function() {
      var unitPriceInput = $('#unit_price');
      var quantityInput = $('#quantity');
      var daysInput = $('#days');

      var rentalInput = $('#rental');
      var gasInput = $('#gas');
      var insuranceInput = $('#insurance');

      var totalRewardEl = $('#total_reward');
      var totalExpenseEl = $('#total_expense');
      var netIncomeEl = $('#net_income');

      function calculate() {
        var unitPrice = parseFloat(unitPriceInput.val()) || 0;
        var quantity = parseFloat(quantityInput.val()) || 0;
        var days = parseFloat(daysInput.val()) || 0;

        var rental = parseFloat(rentalInput.val()) || 0;
        var gas = parseFloat(gasInput.val()) || 0;
        var insurance = parseFloat(insuranceInput.val()) || 0;

        var totalReward = unitPrice * quantity * days;
        var totalExpense = rental + gas + insurance;
        var netIncome = totalReward - totalExpense;

        totalRewardEl.text(totalReward.toLocaleString());
        totalExpenseEl.text(totalExpense.toLocaleString());
        netIncomeEl.text(netIncome.toLocaleString());
      }

      $('#unit_price, #quantity, #days, #rental, #gas, #insurance').on('input', calculate);

      // 初期計算
      // Initial calculation
      calculate();
    });


= link_to 'Next page', top_apply_path, class: 'btn btn-primary btn-block', id: 'next-button'