- set_meta_tags noindex: true
br/
br/
= form_for @user do |f|
 .tops-wrapper
  h2.headline 詳細情報入力
  - @user.errors.full_messages.each do |message|
    li = message
  table.company
     colgroup
      col width="20%"
      col width="20%"
      col width="60%"
     tbody
       tr
          td
            strong.label 必須
          td.arrow_box
            | お名前 [full_name]
          td
            = f.text_field :name, placeholder:"Taro Yamada"
       tr
          td
            strong.label 必須
          td.arrow_box
            | 生年月日 [age]
          td
            = f.text_field :age, placeholder:"25才"
       tr
          td
            strong.label 必須
          td.arrow_box
            | 性別 [gender]
          td
            = f.text_field :gender, placeholder:"Male"
       tr
          td
            strong.label 必須
          td.arrow_box
            | 電話番号 [Tel]
          td
            = f.text_field :tel, placeholder:"080-0000-0000"
       tr
          td
            strong.label 必須
          td.arrow_box
            | メールアドレス [Mail]
          td
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"yamada@abc.com"
       - if admin_signed_in?
        tr
          td
            strong.label 必須
          td.arrow_box
            | あなたの国籍はどこですか？ [what_is_your_nationality?]
          td
            = f.text_field :nationality, placeholder:"JAPAN"
        tr
          td
            strong.label 必須
          td.arrow_box
            | visaのしゅるいをおしえてください [please_tell_me_your_status_of_residence]
          td
            = f.select(:work_range, [\
             ["特定技能ビザ[Specified Skilled Visa]","特定技能ビザ[Specified Skilled Visa]"],\
             ["技術・人文・国際ビザ[Engineer/Humanities/International Visa]","技術・人文・国際ビザ[Engineer/Humanities/International Visa]"],\
             ["永住ビザ [Permanent Resident Visa]","永住ビザ [Permanent Resident Visa]"],\
            ], include_blank: "選択してください[Please select]")       
        tr
          td
            strong.label 必須
          td.arrow_box
            | あなたがもっているすべてのしかくをかいてください [pletell_us_all_the_qualifications_you_have]
          td
            = f.text_field :qualifications  
        tr
          td
            strong.label 必須
          td.arrow_box
            | あなたはげんざいなんのしごとをしていますか？ [what_job_are_you_currently_doing?]
          td
            = f.select(:past_business, [\
             ["製造工場[Manufacturing Plant]","製造工場[Manufacturing Plant]"],\
             ["食品工場[Food factory]","食品工場[Food factory]"],\
             ["自動車整備[Car maintenance]","自動車整備[Car maintenance]"],\
             ["レストラン[Restaurant]","レストラン[Restaurant]"],\
             ["ホテル[Hotel]","ホテル[Hotel]"],\
             ["介護助手[Care Assistant]","介護助手[Care Assistant]"],\
             ["看護助手[Nursing Assistant]","看護助手[Nursing Assistant]"],\
             ["ドライバー[Driver]","ドライバー[Driver]"],\
             ["その他[Other]","その他[Other]"],\
            ], include_blank: "選択してください[Please select]")   
        tr
          td
            strong.label 必須
          td.arrow_box
            | あなたのしょくしゅをおしえてください？[what_industry_are[were]_you_in?]
          td
            = f.text_field :past_year
        tr
          td
            strong.label 必須
          td.arrow_box
            | 希望職種
          td
            = f.text_field :hope_work
        tr
          td
            strong.label 必須
          td.arrow_box
            | 日本に来て何年経ちますか？[How many years have you lived in Japan?]
          td
            = f.text_field :past_year
        tr
          td
            strong.label 必須
          td.arrow_box
            | いつから働けますか？ [Since when can you job?]
          td
            = f.select(:hope_work, [\
             ["すぐにでも[Immidiantly]","すぐにでも[Immidiantly]"],\
             ["1ヶ月以内[Within 1 month]","1ヶ月以内[Within 1 month]"],\
             ["3ヶ月以内[Within 1 month]","3ヶ月以内[Within 1 month]"],\
            ], include_blank: "選択してください[Please select]")  
        tr
          td
            strong.label 必須
          td.arrow_box
            | 電話を出れる時間を教えてください。[Could you tell me the time you will come out.]
          td
            = f.select(:call_available, [\
             ["いつでも可能[Everytime is fine]",""],\
             ["10:00~12:00",""],\
             ["12:00~13:00",""],\
             ["13:00~17:00",""],\
             ["17:00~20:00",""],\
            ], include_blank: "選択してください[Please select]")  
        tr
          td
            strong.label 必須
          td.arrow_box
            | 日本語で会話できますか？[Can you speak Japanese conversation?]
          td
            = f.select(:speak_japanese, [\
             ["できます[Yes, I can.]","できます[Yes, I can.]"],\
             ["できません[No, I can't]","できません[No, I can't]"],\
            ], include_blank: "選択してください[Please select]")  
        tr
          td
            strong.label 必須
          td.arrow_box
            | 転居はできますか？[Can I move to a different prefecture?]
          td
            = f.select(:change_the_address, [\
             ["できます[Yes, I can.]","できます[Yes, I can.]"],\
             ["できません[No, I can't]","できません[No, I can't]"],\
            ], include_blank: "選択してください[Please select]")  

  - if admin_signed_in?
   h2.headline Interview

   table.company
    colgroup
      col width="20%"
      col width="20%"
      col width="60%"
    tbody
      tr
        td
          strong.label 必須
        td.arrow_box
          | 運転免許
        td
           = f.select(:drivers_lisence, [\
            ["なし","なし"],\
            ["あり","あり"],\
           ], include_blank: "選択してください")
      tr
        td
          strong.label 必須
        td.arrow_box
          | 車所有有無
        td
          = f.text_field :car
      tr
        td
          strong.label 必須
        td.arrow_box
          | 転居可否
        td
          = f.text_field :change_the_address_check
      tr
        td
          strong.label 必須
        td.arrow_box
          | 現在のお仕事
        td
          = f.text_field :work_now
      tr
        td
          strong.label 必須
        td.arrow_box
          | 軽貨物経験
        td
           = f.select(:experience, [\
            ["なし","なし"],\
            ["あり","あり"],\
           ], include_blank: "選択してください")
      tr
        td
          strong.label 必須
        td.arrow_box
          | ビザの種類
        td
           = f.select(:which_visa, [\
            ["会話が難しい","会話が難しい"],\
            ["会話は可能","会話は可能"],\
            ["ある程度流暢","ある程度流暢"],\
            ["流暢","流暢"],\
           ], include_blank: "選択してください")
      tr
        td
          strong.label 必須
        td.arrow_box
          | 日本語レベル
        td
           = f.select(:japanese_level, [\
            ["会話が難しい","会話が難しい"],\
            ["会話は可能","会話は可能"],\
            ["ある程度流暢","ある程度流暢"],\
            ["流暢","流暢"],\
           ], include_blank: "選択してください")
      tr
        td
          strong.label 必須
        td.arrow_box
          | 日本在住期間
        td
           = f.select(:visiting_in_japan, [\
            ["来たばかり","来たばかり"],\
            ["1~5年","1~5年"],\
            ["6~14年","6〜14年"],\
            ["15年以上","15年以上"],\
           ], include_blank: "選択してください")
      tr
        td
          strong.label 必須
        td.arrow_box
          | 漢字レベル
        td
           = f.select(:kanzi, [\
            ["ネイティブ","ネイティブ"],\
            ["ある程度読める","ある程度読める"],\
            ["簡単な漢字なら読める","簡単な漢字なら読める"],\
            ["ある程度イメージで把握","ある程度イメージで把握"],\
            ["全く読めない","全く読めない"],\
           ], include_blank: "選択してください")
      tr
        td
          strong.label 必須
        td.arrow_box
          | 勤務開始希望
        td
          = f.text_field :start
      tr
          td
            strong.label 必須
          td.arrow_box
            | 備考
          td
            = f.text_area :remarks
      tr
          td
            strong.label 必須
          td.arrow_box
            | オススメ度
          td
           = f.select(:recommend, [\
            ["100","100"],\
            ["90","90"],\
            ["80","80"],\
            ["70","70"],\
            ["0","0"],\
           ], include_blank: "選択してください")

  - if admin_signed_in?
   h2.headline Work Information

   table.company
    colgroup
      col width="20%"
      col width="20%"
      col width="60%"
    tbody
      tr
        td
          strong.label 必須
        td.arrow_box
          | 報酬
        td
          = f.text_field :deliver
      tr
        td
          strong.label 必須
        td.arrow_box
          | 月休み
        td
          = f.text_field :day_off

  table.company
    colgroup
      col width="20%"
      col width="20%"
      col width="60%"
    tbody
      tr
        td
          strong.label 必須
        td.arrow_box
          | 緊急連絡先（名前）
        td
          = f.text_field :emergency_name, placeholder:"Yoko Yamada"
      tr
        td
          strong.label 必須
        td.arrow_box
          | 関連性
        td
          = f.text_field :emergency_relationships, placeholder:"Mother"
      tr
        td
          strong.label 必須
        td.arrow_box
          | 緊急連絡先電話番号
        td
          = f.text_field :emergency_tel, placeholder:"+818010101010"
      tr.center
          td[colspan="3"]
            = f.submit '確認する'
