= search_form_for @q, url: users_path, method: :get do |f|
  table.list
    thead
      tr
        td
          = f.label :name_cont, "名前 [Name]"
          = f.text_field :name_cont, class: "form-control", placeholder: "名前を入力 [Enter name]"
        td
          = f.label :tel_cont, "電話番号 [Tel]"
          = f.text_field :tel_cont, class: "form-control", placeholder: "電話番号を入力 [Enter tel]"
        td
          = f.select :status_eq, [
            ["SMS","sms"],                 // ★ 値を "sms" に修正
            ["LINE","line"],               // ★ 値を "line" に修正
            ["Recruitment","recruitment"], // ★ 値を "recruitment" に修正
            ["Interview considering","interview_considering"], // ★ 値を "interview_considering" に修正
            ["Interview NG","interview_ng"],     // ★ 値を "interview_ng" に修正
            ["Not join","not_join"]              // ★ 値を "not_join" に修正
          ], { include_blank: "選択してください[Please select]" }, class: "form-control"
        td
          = f.submit "検索", class: "btn btn-primary"

br/
br/

table.list
  thead
    tr
      th User_name
      th Phone_number
      th email
      th Status
      th Contract
      th Register_date
      th
  tbody
    - @users.each do |user|
      tr
        td= link_to user.name, user_path(user)
        td= user.tel
        td= user.email
        td
          - status_options = User.statuses.keys.map do |key|
            - display_name = key.humanize
            - if key == "sms" || key == "line"
              - display_name = key.upcase
            - [display_name, key] // ★ ここは既に key (小文字の値) を使用しており正しい

          = select_tag :status, 
                       options_for_select(status_options, user.status),
                       class: 'form-control update-status',
                       data: { user_id: user.id }
        td= user&.contract_date
        td= user.created_at ? user.created_at.strftime("%Y年%m月%d日") : "―"
        td
          span.copy-btn.btn.btn-success data-clipboard-text="お疲(つか)れ様(さま)です。  
           先日(せんじつ)は面接(めんせつ)対応(たいおう)をいただきありがとうございました。  
           以下(いか)、手続(てつづ)きを進(すす)めるためにまずは契約(けいやく)の締結(ていけつ)を行(おこな)いますので、以下URLよりアクセスいただき、契約を完了(かんりょう)してください。  
           https://j-work.jp/users/#{user.id}  
           よろしくお願い(ねが)いいたします。  
           Thank you for your cooperation.  
           Please complete your contract using the following URL"
           | ✅
          = link_to "LINE", user.account_name, target:"_blank", class: "btn btn-success"
          = link_to "SMS", send_sms_user_path(user), 
            method: :post, 
            data: { confirm: "本当に送信しますか？" }, 
            class: "btn btn-primary btn-sm"          
          = link_to "EDIT", edit_user_path(user), class: "btn btn-success"
          = link_to "×", user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger"

= paginate @users