= search_form_for @q, url: users_path, method: :get do |f|
  table.list
    thead
      tr
        td
          = f.label :name_cont, "名前 [Name]"
          = f.text_field :name_cont, class: "form-control", placeholder: "名前を入力 [Enter name]"
        td
          = f.label :tel_cont, "電話番号 [Tel]"
          = f.text_field :tel_cont, class: "form-control", placeholder: "電話番号を入力 [Enter tel]"
        td
          = f.select :status_eq, [\
            ["SMS","sms"],\
            ["LINE","line"],\
            ["Recruitment","recruitment"],\
            ["Interview considering","interview_considering"],\
            ["Interview NG","interview_ng"],\
            ["Not join","not_join"]\
          ], { include_blank: "選択してください[Please select]" }, class: "form-control"
        td
          = f.submit "検索", class: "btn btn-primary"

br/
br/

table.list
  thead
    tr
      th User_name
      th Phone_number
      th Status
      th Contract
      th Register_date
      th
  tbody
    - @users.each do |user|
      tr
        td= link_to user.name, user_path(user)
        td= user.tel
        td
          - status_options = User.statuses.keys.map do |key|
            - display_name = key.humanize
            - if key == "sms" || key == "line"
              - display_name = key.upcase
            - [display_name, key] # ★ ここは既に key (小文字の値) を使用しており正しい

          = select_tag :status, 
                       options_for_select(status_options, user.status),
                       class: 'form-control update-status',
                       data: { user_id: user.id }
        td= user&.contract_date
        td= user.created_at ? user.created_at.strftime("%Y年%m月%d日 %H時%M分") : "―"
        td
          span.copy-btn.btn.btn-success data-clipboard-text=user.interview_request_text
           | ℹ️
          span.copy-btn.btn.btn-success data-clipboard-text=user.contract_request_text
           | ✅
          = link_to "LINE", user.account_name, target:"_blank", class: "btn btn-success btn-sm"
          = link_to "SMS", send_sms_user_path(user), \
            method: :post, \
            data: { confirm: "本当に送信しますか？" }, \
            class: "btn btn-primary btn-sm"          
          = link_to "EDIT", edit_user_path(user), class: "btn btn-success btn-sm"
          = link_to "×", user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm"

= paginate @users