- set_meta_tags title: 'Process a food delivery'
- set_meta_tags noindex: true

- if @user.hope_work = "Food"

 .section.process
  .header
    h2.title Getting Started
    p.subtitle Workflow until you begin work

  .timeline
    .step
      .circle 01
      .card
        h3 Contract
        p We conclude contracts online. Please proceed to conclude the contract via the following URL.
        = link_to "Sign the contract", conclusion_user_path(@user), class: "btn-process", target: "_blank"

    .step
      .circle 02
      .card
        h3 Work Preparation
        p Please arrange parking near your home if required.
        = link_to "Need a black license plate?", "https://j-work.jp/top/black", class: "btn-process", target: "_blank"
        = link_to "Need to rent a scooter?", "https://teito-ms.co.jp/rental-bike/", class: "btn-process", target: "_blank"
        ul.doc-list
         li The above applies only to Tokyo, Kanagawa, Saitama, Chiba, and Aichi prefectures.
         li For other areas, please contact us via LINE.
    .step
      .circle 03
      .card
        h3 = link_to "Upload your information", edit_user_path(@user)
        p Please click on the appropriate option below and upload your documents.
        p All required documents:
        ul.doc-list
         li Residence card
         li Driver's license
        = link_to "Already have a black plate", edit_user_path(@user), class: "btn-process", target: "_blank"
        ul.doc-list
         li black license plate photo
        = link_to "Already have a scooter", edit_user_path(@user), class: "btn-process", target: "_blank"
        ul.doc-list
         li scooter pictures
        = link_to "Working with a bicycle", edit_user_path(@user), class: "btn-process", target: "_blank"
        ul.doc-list
         li Photo of the bicycle's anti-theft number.

    .step
      .circle 04
      .card
        h3 Registration briefing session
        p You can register for the app at the registration briefing session and start working as early as the following week. (*Punctuality is essential.)
- else
 .section.process
  .process-title PROCESS
  .process-sub ご利用の流れ

  .process-container
    .process-step
      .num 01
      .content
        h3 
         = link_to "Enter Information", edit_user_path(@user)
        p Please enter your information.
        

    .process-step
      .num 02
      .content
        h3 
         = link_to "Conclusion of contract", conclusion_user_path(@user)
        p You will enter into a business outsourcing contract with us.
    
    -if @user.hope_work == "Driver"
     .process-step
      .num 03
      .content
        h3 Car rental 
        p You can rent a light van from the following URL.
        .row 
         .col-xs-6
          = link_to "合同会社ヴィジョン(関東・27,000円〜)", "https://van-tora.com/", class:"btn btn-process", target: "_blank"
         .col-xs-4
          = link_to "TRUMP（関東・40,000円〜）", "https://trump-inc.com/12370/%E8%BB%BD%E8%B2%A8%E7%89%A9%E9%81%8B%E9%80%81%E5%B0%82%E7%94%A8%E9%BB%92%E3%83%8A%E3%83%B3%E3%83%90%E3%83%BC%E3%81%AE%E4%BB%A3%E8%BB%8A%E3%83%BB%E3%83%AC%E3%83%B3%E3%82%BF%E3%83%AB%E3%82%B5%E3%83%BC/", class:"btn btn-process", target: "_blank"
        .row 
         .col-xs-4
          = link_to "ESCOリース（関東・41,000円〜）", "https://www.esco-keiban-lease.com/", class:"btn btn-process", target: "_blank"
         .col-xs-4
          = link_to "川崎トレーダーズ（関東・税込35,000円〜）", "https://www.kawasaki-traders.com/", class:"btn btn-process", target: "_blank"
        .row 
         .col-xs-4
          = link_to "NICHIGO（関東・税込30,000円〜）", "https://nichigocar.com/", class:"btn btn-process", target: "_blank"
         .col-xs-4
          = link_to "ロジゾー（関東・29,000円〜）", "https://www.logizo.co.jp/lp-2", class:"btn btn-process", target: "_blank"
        .row 
         .col-xs-4
          = link_to "SKAE（関東・23,000円〜）", "https://sakae-logistics.com/255/", class:"btn btn-process", target: "_blank"
         .col-xs-4
          = link_to "TRUMP（関東・40,000円〜）", "https://trump-inc.com/12370/%E8%BB%BD%E8%B2%A8%E7%89%A9%E9%81%8B%E9%80%81%E5%B0%82%E7%94%A8%E9%BB%92%E3%83%8A%E3%83%B3%E3%83%90%E3%83%BC%E3%81%AE%E4%BB%A3%E8%BB%8A%E3%83%BB%E3%83%AC%E3%83%B3%E3%82%BF%E3%83%AB%E3%82%B5%E3%83%BC/", class:"btn btn-process", target: "_blank"



     .process-step
      .num 04
      .content
        h3 駐車場
        p 自宅近くでパーキングを探して頂く必要があります。見つからない場合、以下サイトを参考にしてください。
        .row 
         .col-xs-4
          = link_to "CarParking", "https://carparking.jp/", class:"btn btn-process", target: "_blank"
         .col-xs-4
          = link_to "ParkDirect", "https://www.park-direct.jp/", class:"btn btn-process", target: "_blank"
         .col-xs-4
          = link_to "TimesParking", "https://times-info.net/", class:"btn btn-process", target: "_blank"

     .process-step
      .num 05
      .content
        h3 保険加入
        p 軽貨物の車を運転する場合、『自賠責保険』は必須で加入をする必要があります。その他、軽貨物事業を行う場合には、『軽貨物保険』及び『任意保険』に加入する必要があります。
        .row 
         .col-xs-12
          = link_to "軽貨物保険及び自動車保険", "#", class:"btn btn-process", target: "_blank"

    .process-step
      .num 00
      .content
        h3 Starting work
        p You can start working as soon as you're ready.