- set_meta_tags title: ''
- set_meta_tags description: ''
- set_meta_tags noindex: true

.tops-wrapper
 h2.headline Apply flow

.flow-step
    .step-btn
      = link_to "1. Enter information", edit_user_path(@user), class: "btn btn-primary btn-lg"
    br
    .step-desc
      | Please enter your information.

hr.line

.flow-step
    .step-btn
      = link_to "2. Conclusion of contract", conclusion_user_path(@user), class: "btn btn-primary btn-lg"
    br/
    .step-desc
      | You will enter into a business outsourcing contract with us.


