br/
br/
.category-wrapper
  h2.headline = "求人一覧"

  - if @clients.any?
    - @clients.each do |client|
      .job-card
        h3 = client.title
        p = client.work_contents
        .row 
         .col-sm-6
          p
           strong 給与：
           | #{client.salary}
         .col-sm-6
          p
          strong 募集職種：
          | #{client.genre}
        .row 
         .col-sm-6
          p
           strong 勤務時間：
           | #{client.work_time}
         .col-sm-6
          p
          strong 求人：
          | #{client.day_off} 
        .row 
         .col-sm-6
          p
           strong 会社名：
           | #{client.company}
         .col-sm-6
          p
          strong 勤務地：
          | #{client.address}

        = link_to "詳細を見る", client_path(client), class: "btn-detail"
  - else
    p 該当する求人は見つかりませんでした。