- set_meta_tags noindex: true
.tops-wrapper
  h2.headline 基本情報
  table.company
    colgroup
      col width="10%"
      col width="20%"
      col width="70%"
    tbody
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | ご担当者様名
        td.responsive-cell
          = "#{@contract.person_first} #{@contract.person_last}"
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 電話番号
        td.responsive-cell
          = @contract.tel
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 所在地
        td.responsive-cell
          = @contract.address
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | メールアドレス
        td.responsive-cell
          = @contract.email
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | メールアドレス（cc） 
        td.responsive-cell
          = @contract.cc
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 代表者名
        td.responsive-cell
          = "#{@contract.president_first} #{@contract.president_last}"
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 代表者役職
        td.responsive-cell
          = @contract.post_title
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 採用ページURL
        td.responsive-cell
          = link_to @contract.recruit_url, @contract.recruit_url, target: '_blank' if @contract.recruit_url.present?
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 採用ページURL2
        td.responsive-cell
          = link_to @contract.recruit_url_2, @contract.recruit_url_2, target: '_blank' if @contract.recruit_url_2.present?

      - if admin_signed_in?
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 成果報酬単価
          td.responsive-cell
            = @contract.unit_price
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 返戻金条件
          td.responsive-cell
            = @contract.refund
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 支払日
          td.responsive-cell
            = @contract.payment
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 採用予定職種
          td.responsive-cell
            = @contract.work
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 希望在留資格
          td.responsive-cell
            = @contract.qualifications
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 採用予定人数
          td.responsive-cell
            = @contract.number
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 給与幅
          td.responsive-cell
            = @contract.salary
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 経験則
          td.responsive-cell
            = @contract.experience
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 年齢幅
          td.responsive-cell
            = @contract.age
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | ドライバーライセンス
          td.responsive-cell
            = @contract.driver_licence
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 書類申請代行
          td.responsive-cell
            = @contract.application
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 住居・寮
          td.responsive-cell
            = @contract.housing
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | その他の採用条件
          td.responsive-cell
            = @contract.employment_conditions
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 書類選考期間・面接回数
          td.responsive-cell
            = @contract.document_screening
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 採用率
          td.responsive-cell
            = @contract.conversion
        tr
          td.label-cell
            strong.label 必須
          td.arrow-box-cell
            | 備考・要望
          td.responsive-cell
            = @contract.remarks
