- set_meta_tags title: "#{@client.company}"
- set_meta_tags noindex: true
.tops-wrapper
  h2.headline 基本情報
  = link_to "ジョブを新規作成", new_client_job_path(@client), class: "btn btn-primary"
  = link_to '🔺', edit_client_path(@client), class:"btn btn-success"
  = link_to '❌', client_path(@client), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn btn-danger"

  br/
  br/
  table.company
    colgroup
      col width="10%"
      col width="20%"
      col width="70%"
    tbody
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 会社名
        td.responsive-cell
          = @client.company
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 役職
        td.responsive-cell
          = @client.position
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 担当者
        td.responsive-cell
          = @client.person
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 電話番号
        td.responsive-cell
          = @client.tel
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 携帯番号
        td.responsive-cell
          = @client.mobile
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | メールアドレス
        td.responsive-cell
          = @client.email
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 所在地
        td.responsive-cell
          = @client.address
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 企業URL
        td.responsive-cell
          = @client.url
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 業種指定
        td.responsive-cell
          = @client.industry
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 商談日時
        td.responsive-cell
          = @client.meeting
      tr
        td.label-cell
          strong.label 必須
        td.arrow-box-cell
          | 備考
        td.responsive-cell
          = @client.remarks


br/
br/
table.company[width="100%"]
  - if @client.jobs.any?
    tbody
      tr
        th 内容
        th 勤務時間
        th エリア
        th 仕入れ価格
        th 販売価格
        th 配送
        th レンタル
        th 支払い
        th 備考
        th 
      - @client.jobs.each do |job|
        tr
          td
            = job.content
          td
            = job.working_time
          td
            = job.area
          td
            = job.purchase_price
          td
            = job.sales_price
          td
            = job.delivery
          td
            = job.rental
          td
            = job.payment
          td
            = job.remarks
          td 
           - if job.id.present?
            = link_to "🔺", edit_client_job_path(@client, job), class:"btn btn-success"
            = link_to "❌", client_job_path(@client, job), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger"
br/
= form_for [@client, @client.situations.build] do |f|
  table.company[width="100%"]
    col[width="25%"]
    col[width="25%"]
    col[width="25%"]
    tbody
      tr
          th
            | ステータス
          th
            | 次回営業日
          th
            | コメント

      tr
          td
           = f.select(:status, [\
            ["契約", "契約"],\
            ["NG", "NG"]\
           ], include_blank: "選択してください")   
          td
            = f.datetime_field :next
          td
            = f.text_area :body
      tr
        th[colspan="3"]
         .center
          = f.submit "登録する", class:"btn btn-primary"
small 商談ステータスを入れる場合は商談日を入力。　不在の場合、ステータスは以前のステータスにし、不在にチェックを入れる
table.company[width="100%"]
  - if @client.situations.any?
    tbody
     - @client.situations.each do |situation|
       tr
        td
          = situation.status
        td
          = situation.next
        td
          = situation.body
        td
         - if situation.id.present?
           = link_to "編集", edit_client_situation_path(@client, situation)
           = link_to "削除", client_situation_path(@client, situation), method: :delete, data: { confirm: "本当に削除しますか？" }

