- set_meta_tags noindex: true
.tops-wrapper
   h2.headline  日報シート
   = form_for([@user, @journal]) do |f| 
    table.company
     colgroup
      col width="20%"
      col width="20%"
      col width="60%"
     tbody
      tr
          td
            strong.label 必須
          td.arrow_box
            | 勤務日
          td.center
            = f.date_field :post, class: "form-control"
      tr
          td
            strong.label 必須
          td.arrow_box
            | 日報
          td.center
            = f.text_area :dialy
      tr
        td.center[colspan="3"] 
          = f.submit "登録する"
