h2.recruit-index-page-title 案件一覧

- if admin_signed_in?
  .recruit-admin-header-area
    = link_to "新規案件登録", new_recruit_path, class: "btn-recruit-admin-create"

.recruit-index-custom-grid
  - @recruits.each do |recruit|
    .recruit-card-grid-item
      .recruit-index-main-card.recruit-hover-action-card
        .recruit-card-header-row
          - if recruit.point.present?
            span.badge-pill-warning = "★ #{recruit.point}"
        
        h3.recruit-card-main-title = recruit.title
        p.recruit-card-body-description = truncate(recruit.description, length: 100)
        
        .recruit-card-price-block
          strong.recruit-price-meta-label Price:
          span.recruit-price-num-value = recruit.unit_price

        .recruit-card-tags-container
          - if recruit.area.present?
            .recruit-card-tag-wrapper-box
              - recruit.area.split('・').each do |a|
                span.recruit-tag-outline-pill = a

          - if recruit.recommend.present?
            .recruit-card-tag-wrapper-box
              - recruit.recommend.split('・').each do |r|
                span.recruit-tag-recommend-pill = r
        
        - message = "I would like to apply for an interview for #{recruit.title}."
        - encoded_message = ERB::Util.url_encode(message)
        - line_url = "https://line.me/R/oaMessage/@522jmsbm/?#{encoded_message}"

        .recruit-card-bottom-action-bar
          = link_to "Detail", recruit_path(recruit), class: "btn-recruit-card-to-detail"

          - if admin_signed_in?
            .recruit-card-admin-control-box
              = link_to "編集", edit_recruit_path(recruit), class: "btn-recruit-admin-edit-sm"