- set_meta_tags title: '求人一覧'

.jobs-screen
  .jobs-screen__inner
    .jobs-brand
      p.jobs-kicker Job portal
      h1.jobs-title Jobs
      p.jobs-ja 求人一覧
    - if admin_signed_in?
      .jobs-admin
        = link_to "新規案件登録", new_recruit_path, class: "jobs-admin__create"
    = form_tag recruits_path, method: :get, class: "jobs-search" do
      = select_tag :area, options_for_select(@areas, params[:area]), include_blank: "エリア", class: "jobs-search__select"
      = select_tag :genre, options_for_select(@genres, params[:genre]), include_blank: "職種", class: "jobs-search__select"
      = submit_tag "検索", class: "jobs-search__submit", name: nil
    - if @recruits.present?
      - @recruits.each do |recruit|
        article.jobs-card
          .jobs-card__main
            - if recruit.point.present?
              span.jobs-card__pickup PICK UP
            h2.jobs-card__title = recruit.title
            - if recruit.description.present?
              p.jobs-card__desc = truncate(recruit.description, length: 90)
            .jobs-card__price
              span.jobs-card__price-label Price
              span.jobs-card__price-value = recruit.unit_price
            .jobs-card__tags
              - if recruit.area.present?
                - recruit.area.to_s.split(/[・,、]/).reject(&:blank?).each do |a|
                  span.jobs-card__tag = a.strip
              - if recruit.recommend.present?
                span.jobs-card__tag.jobs-card__tag--recommend おすすめ
          .jobs-card__aside
            = link_to "Detail", recruit_path(recruit), class: "jobs-card__detail", data: { turbolinks: false }
            - if admin_signed_in?
              = link_to "編集", edit_recruit_path(recruit), class: "jobs-card__edit"
    - else
      p.jobs-empty 現在公開中の求人はありません。
