- set_meta_tags noindex: true
.tops-wrapper
  h2.headline 安全チェックシート
  = form_for([@user, @inspection]) do |f| 
    table.company
      colgroup
        col width="20%"
        col width="20%"
        col width="80%"
      tbody
        tr
          td
            strong.label 
              | 点検日
          td.arrow_box
          td.center
            = f.date_field :post, class: "form-control"
        tr
          td.arrow_box
            | ブレーキ
          td.center
            | ペダル踏みしろ、効き具合、液量、ホース漏れを点検してください。
          td.center
            = f.select :brakes, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | ステアリング
          td.center
            | 操作具合、遊び、異音の有無を確認してください。
          td.center
            = f.select :steering, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | タイヤ・ホイール
          td.center
            | 空気圧、溝の深さ、亀裂・異常摩耗を点検してください。
          td.center
            = f.select :tires, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | 灯火装置
          td.center
            | ヘッドライト、ブレーキランプ、ウインカーの作動を確認してください。
          td.center
            = f.select :lighting, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | バッテリー
          td.center
            | 液量・端子の緩み・腐食の有無を確認してください。
          td.center
            = f.select :battely, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | エンジンオイル
          td.center
            | 量・汚れ・漏れの有無を確認してください。
          td.center
            = f.select :engine, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | 冷却水
          td.center
            | 量・漏れの有無を確認してください。
          td.center
            = f.select :coolant, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | ワイパー・ウォッシャー
          td.center
            | 拭き取り状態・作動確認を行ってください。
          td.center
            = f.select :wiper, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | 排気系
          td
            | マフラー損傷・排気漏れの有無を確認してください。
          td
            = f.select :exhaust, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | 車体下回り
          td.center
            | オイル漏れ・ボルト緩み・損傷の有無を確認してください。
          td.center
            = f.select :underbody, [["良好", "良好"], ["要整備", "要整備"], ["異常あり", "異常あり"]], { include_blank: "選択してください" }, class: "form-control"
        tr
          td.arrow_box
            | 備考・整備品に対する対応
          td.center[colspan="3"]
            = f.text_area :remarks
        tr
          td.center[colspan="3"]
            = f.submit "登録する", class: "btn btn-primary"
