doctype html
html
  head
    = render 'layouts/head'
  body
    header
      .row
        .col-xs-2
          -if request.path == "/zero"
            = link_to "/zero"
              =image_tag "rogo2.webp", width: "220px", class:"header-image", alt:"株式会社Ri-Plus『アポ匠ロゴ』"
          -elsif request.path == "/free"
            = link_to "/feee"
              =image_tag "rogo3.webp", width: "220px", class:"header-image", alt:"株式会社Ri-Plus『アポ匠ロゴ』"
          -else
            = link_to "/"
              =image_tag "rogo.webp", width: "220px", class:"header-image"
        .col-xs-10
          nav.jw-gnav
            = link_to "企業の方", "/pages/human", data: { turbolinks: false }
            = link_to "仕事を探す", "https://lin.ee/8pGADE1", target: "_blank", rel: "noopener"
            = link_to "記事", "/columns", data: { turbolinks: false }
            = link_to "お問い合わせ", "/contracts/new", data: { turbolinks: false }

      .row.navi
        .col-xs-12.center
          br/
          br/
          p.notice
            = notice
          p.alert
            = alert
    main
      .bread
        = render_breadcrumbs separator: ' > '
      br/
      br/
      = yield
    br/
    br/