doctype html
html
  head
    = render 'layouts/head'
  body
    header
      .row
        .col-xs-2
          -if request.path == "/zero"
            = link_to "/zero"
              =image_tag "rogo2.webp", width: "220px", class:"header-image", alt:"株式会社Ri-Plus『アポ匠ロゴ』"
          -elsif request.path == "/free"
            = link_to "/feee"
              =image_tag "rogo3.webp", width: "220px", class:"header-image", alt:"株式会社Ri-Plus『アポ匠ロゴ』"
          -else
            = link_to "/"
              =image_tag "rogo.webp", width: "220px", class:"header-image"
        .col-xs-8

      .row.navi
        .col-xs-12.center
          br/
          br/
          p.notice
            = notice
          p.alert
            = alert
    main
      .bread
        = render_breadcrumbs separator: ' > '
      br/
      br/
      = yield
    br/
    br/